<!-- footer -->
<div class="container" id="footer" style="text-align: center; margin: 1rem auto;">
    <p class="">Copyright &copy;</p>
</div>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/canvasjs.min.js"></script>
<script src="/js/script.js"></script>