<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">MyMedical</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {{#with currentUser}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a href="#" class="nav-link"><i class="fas fa-bell"></i></a>
            </li>
            <li class="nav-item avatar">
                <a class="nav-link p-0 mt-1" href="#">
                    <img src="{{ Avatar }}" class="rounded-circle z-depth-0" alt="avatar image" height="31">
                </a>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{ Username }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {{#if (eq LoaiUser 1)}}
                        <a class="dropdown-item" href="/admin/">Khu vực admin</a>
                        <div class="dropdown-divider"></div>
                        {{/if}}
                        <a class="dropdown-item" href="/user/SetInfor/{{ id }}">Thông tin cá nhân</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/dang-xuat">Đăng xuất</a>
                    </div>
                </li>
        </ul>
    </div>
    {{/with}}
</nav>