<!-- footer -->
<footer class="container-fluid text-white mt-3">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-4">
                <h2>Danh mục</h2>
                <nav class="navbar navbar-dark px-0">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Danh sách phòng khám</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Danh sách bác sĩ</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4">
                <h2>Tài khoản</h2>
                <nav class="navbar navbar-dark px-0">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/dang-nhap">Đăng ký</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dang-nhap">Đăng ký bác sĩ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dang-nhap">Đăng ký phòng khám</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dang-nhap">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Khôi phục mật khẩu</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4">
                <h2>MyMedical</h2>
                <nav class="navbar navbar-dark px-0">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Về chúng tôi</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tuyển dụng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Điều khoản sử dụng</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="text-center text-white py-2 px-0 mx-0" id="copyright" style="background-color: rgba(51, 51, 51, 0.08);">
        Copyright &copy;
    </div>
</footer>

{{!-- <script src="/js/jquery.min.js"></script> --}}
{{!-- <script src="/js/popper.min.js"></script> --}}
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.easy-autocomplete.min.js"></script>
<script src="/js/script.js"></script>
{{!-- <script src="/js/checkRetypePass.js"></script> --}}
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>