<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="csrf-token" content="XYZ123">
<title>MyMedical</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.fancybox.css">
{{!-- <link rel="stylesheet" href="/css/main.css"> --}}
<link rel="stylesheet" href="/css/easy-autocomplete.min.css">
<link rel="stylesheet" href="/css/dropzone.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/hospital.css">
<link rel="stylesheet" href="/css/adminPageStyle.css">
<link rel="stylesheet" href="/css/User-register.css">
<link rel="stylesheet" href="/css/Admin-Category.css">
{{!-- <link rel="stylesheet" href="/css/Admin-Advertisement.css"> --}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{{!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> --}}
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/register.js"></script>
<script>
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
</script>