<!DOCTYPE html>
<html lang="en">

<head>
    {{> header }}
</head>

<body>
    {{> navbar }}

    {{{ body }}}

    {{#if success}}
    <div id="snackbar" style="background-color: #4CAF50;">{{ success }}</div>
    {{/if}}
    {{#if error}}
    <div id="snackbar" style="background-color: #f44336;">{{ error }}</div>
    {{/if}}

    {{> footer}}
</body>

</html>