<body>
    <div class="wrapper" style="margin-top: 56px;">
        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin"><i class="fas fa-chart-line"></i> Thống kê</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/serviceplan"><i class="fas fa-box-open"></i> Gói dịch vụ</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/category"><i class="fas fa-book-open"></i> Mục lục</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#AccountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-users"></i> Tài khoản</a>
                    <ul class="collapse list-unstyled" id="AccountSubmenu">
                        <li>
                            <a href="/admin/user">Người dùng</a>
                        </li>
                        <li>
                            <a href="/admin/doctor">Bác sĩ</a>
                        </li>
                        <li>
                            <a href="/admin/clinic">Phòng khám</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#DiscountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-gift"></i> Khuyến mãi</a>
                    <ul class="collapse list-unstyled" id="DiscountSubmenu">
                        <li>
                            <a href="/admin/discount">Danh sách</a>
                        </li>
                        <li>
                            <a href="/admin/voucher">Vouchers</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="active">
                    <a href="/admin/advertisement"><i class="fas fa-ad"></i> Quảng cáo</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/report"><i class="fas fa-scroll"></i> Báo cáo</a>
                </li>
            </ul>
        </nav>

        <!-- main content -->
        <div class="main">
            <h4>Quảng cáo</h4>
            <li class="divider"></li>
            <div class="container-fluid">
                <!-- Muc luc -->
                <section class="mt-1 mb-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="admin-content-block">
                                <div class="mt-3">
                                    <p>
                                        <h6><i class="fas fa-edit"></i> Thêm quảng cáo </h6>
                                    </p>
                                </div>
                                <form action="/admin/advertisement/add" method="POST" enctype="multipart/form-data">
                                    <!-- Text input-->
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label text-right" for="tenQuangCao">Tên quảng
                                            cáo</label>
                                        <div class="col-md-6">
                                            <input id="tenQuangCao" name="tenQuangCao" type="text"
                                                class="form-control input-md">

                                        </div>
                                    </div>

                                    <!-- Select Basic -->
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label text-right" for="loaiQuangCao">Loại khuyến
                                            mãi</label>
                                        <div class="col-md-6">
                                            <select id="loaiQuangCao" name="loaiQuangCao" class="form-control">
                                                <option value="1">Quảng cáo cho khuyến mãi</option>
                                                <option value="2">Quảng cáo cho phòng khám</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- start day -->
                                    <div class="form-group row">
                                        <label for="formDate" class="col-md-3 control-label text-right">Ngày bắt
                                            đầu:</label>
                                        <div class="col-md-6">
                                            <input type="date" class="form-control" name="dateStart" id="formDate"
                                                name="dateStart" required>
                                        </div>
                                    </div>

                                    <!-- end day -->
                                    <div class="form-group row">
                                        <label for="formDate" class="col-md-3 control-label text-right">Ngày kết
                                            thúc:</label>
                                        <div class="col-md-6">
                                            <input type="date" class="form-control" name="dateEnd" id="formDate"
                                                name="dateEnd" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="input-image" class="col-md-3 control-label text-right">Thêm ảnh:
                                        </label>
                                        <div class="col-md-6">
                                            <input type="file" name="image" id="input-image" accept="image/*"
                                                multiple />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                            <img src="#" alt="xem trước" class="img-thumbnail" id="image-preview">
                                        </div>

                                    <!-- Button -->
                                    <div class="row mb-3">
                                        <div class=" form-group col-md-6 text-right">
                                            <button type="submit" class="btn btn-primary"> Lưu </button>
                                        </div>
                                        <div class=" form-group col-md-6 text-left">
                                            <a href="/admin/advertisement" class="btn btn-warning" role="button"> Hủy
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#input-image").change(function () {
        readURL(this);
    });
</script>