<body>
    <div class="wrapper" style="margin-top: 56px;">
        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin"><i class="fas fa-chart-line"></i> Thống kê</a>
                </li>
                <li class="divider"></li>
                <li class="active">
                    <a href="/admin/serviceplan"><i class="fas fa-box-open"></i> Gói dịch vụ</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/category"><i class="fas fa-book-open"></i> Mục lục</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#AccountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-users"></i> Tài khoản</a>
                    <ul class="collapse list-unstyled" id="AccountSubmenu">
                        <li>
                            <a href="/admin/user">Người dùng</a>
                        </li>
                        <li>
                            <a href="/admin/doctor">Bác sĩ</a>
                        </li>
                        <li>
                            <a href="/admin/clinic">Phòng khám</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#DiscountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-gift"></i> Khuyến mãi</a>
                    <ul class="collapse list-unstyled" id="DiscountSubmenu">
                        <li>
                            <a href="/admin/discount">Danh sách</a>
                        </li>
                        <li>
                            <a href="/admin/voucher">Vouchers</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/advertisement"><i class="fas fa-ad"></i> Quảng cáo</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/report"><i class="fas fa-scroll"></i> Báo cáo</a>
                </li>
            </ul>
        </nav>

        <!-- main content -->
        <div class="main">
            <h4>Gói dịch vụ</h4>
            <li class="divider"></li>

            <div class="container">
                <p id="bannerName">ĐĂNG KÍ GÓI DỊCH VỤ</p>
                <table id="tablePackage" class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="normalPackage"><button id="btnNormial" type="button">GÓI THƯỜNG</button></th>
                            <th class="premiumPackage"><button id="btnPremium" type="button">GÓI CAO CẤP</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Giá cả</td>
                            <td class="normalPackage">600.000 VND</td>
                            <td class="premiumPackage">1.000.0000 VND</td>
                        </tr>
                        <tr>
                            <td>Thời gian hiệu lực</td>
                            <td class="normalPackage">6 tháng</td>
                            <td class="premiumPackage">12 tháng</td>
                        </tr>
                        <tr>
                            <td>Số phòng khám có thể tiến hàng quảng bá</td>
                            <td class="normalPackage">2</td>
                            <td class="premiumPackage">5</td>
                        </tr>
                        <tr>
                            <td>Số bác sĩ tối đa có thể quản lý</td>
                            <td class="normalPackage">100</td>
                            <td class="premiumPackage">500</td>
                        </tr>
                        <tr>
                            <td>Số tiền hoa hồng phải trả theo mỗi lần đặt hàng thành công</td>
                            <td class="normalPackage">10%</td>
                            <td class="premiumPackage">9%</td>
                        </tr>
                        <tr>
                            <td>Đội ngũ hỗ trợ tận tình các thắc mắc</td>
                            <td class="normalPackage"><i class="fas fa-check-circle"></i></td>
                            <td class="premiumPackage"><i class="fas fa-check-circle"></i></td>
                        </tr>
                        <tr>
                            <td>Cung cấp các tính năng hỗ trợ</td>
                            <td class="normalPackage"><i class="fas fa-check-circle"></i></td>
                            <td class="premiumPackage"><i class="fas fa-check-circle"></i></td>
                        </tr>
                        <tr>
                            <td>Thống kê doanh thu</td>
                            <td class="normalPackage"><i class="fas fa-times-circle"></i></td>
                            <td class="premiumPackage"><i class="fas fa-check-circle"></i></td>
                        </tr>
                        <tr>
                            <td>Hỗ trợ quảng cáo</td>
                            <td class="normalPackage"><i class="fas fa-times-circle"></i></td>
                            <td class="premiumPackage"><i class="fas fa-check-circle"></i></td>
                        </tr>
                        <tr>
                            <td>Thông tin liên hệ khách hàng</td>
                            <td class="normalPackage"><i class="fas fa-times-circle"></i></td>
                            <td class="premiumPackage"><i class="fas fa-check-circle"></i></td>
                        </tr>
                        <tr>
                            <td>Liên kết dịch vụ PA</td>
                            <td class="normalPackage"><i class="fas fa-times-circle"></i></td>
                            <td class="premiumPackage"><i class="fas fa-check-circle"></i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="normalPackage">
                                <p id="btnOrderNormial"><button type="button" class="btn-secondary ">CHỈNH SỬA</button>
                                </p>
                            </td>
                            <td class="premiumPackage">
                                <p id="btnOrderPremium"><button type="button" class="btn btn-danger">CHỈNH SỬA~</button>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <p id = "btnOrder"><button type="button" class="btn btn-danger">ĐẶT HÀNG</button></p> -->

            </div>
        </div>
    </div>
</body>