{{#each thongKe}}

<body>
    <div class="wrapper" style="margin-top: 56px;">
        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/admin"><i class="fas fa-chart-line"></i> Thống kê</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/serviceplan"><i class="fas fa-box-open"></i> Gói dịch vụ</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/category"><i class="fas fa-book-open"></i> Mục lục</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#AccountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-users"></i> Tài khoản</a>
                    <ul class="collapse list-unstyled" id="AccountSubmenu">
                        <li>
                            <a href="/admin/user">Người dùng</a>
                        </li>
                        <li>
                            <a href="/admin/doctor">Bác sĩ</a>
                        </li>
                        <li>
                            <a href="/admin/clinic">Phòng khám</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#DiscountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-gift"></i> Khuyến mãi</a>
                    <ul class="collapse list-unstyled" id="DiscountSubmenu">
                        <li>
                            <a href="/admin/discount">Danh sách</a>
                        </li>
                        <li>
                            <a href="/admin/voucher">Vouchers</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/advertisement"><i class="fas fa-ad"></i> Quảng cáo</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/report"><i class="fas fa-scroll"></i> Báo cáo</a>
                </li>
            </ul>
        </nav>

        <!-- main content -->
        <div class="main">
            <h4>Thống kê</h4>
            <li class="divider"></li>
            <div class="container">
                <!-- Website status -->
                <section class="mt-1 mb-1">
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="admin-content-block">
                                <div class="row" style="background-color: #326FC0">
                                    <p class="text-white"
                                        style="margin-top: 3px; margin-left: 10px; margin-bottom: 3px;">Tổng số người
                                        dùng</p>
                                    <i class="fas fa-sort-up mt-2 mr-1 ml-auto" style="color: white"></i>
                                    <p class="text-white"
                                        style="margin-top: 3px; margin-right: 10px; margin-bottom: 3px;">33%</p>
                                </div>
                                <div class="row" style="background-color: #389ACF">
                                    <i class="fas fa-users fa-5x ml-3" style="color:white"></i>
                                    <h2 class="text-white"
                                        style="margin-left: auto; margin-top: 20px; margin-right: 10px;">{{NguoiDung}}
                                    </h2>
                                </div>
                                <div class="row" style="background-color: #1CBAEB">
                                    <p class="text-white ml-auto mr-auto mb-1 mt-1">Chi tiết...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="admin-content-block">
                                <div class="row" style="background-color: #326FC0">
                                    <p class="text-white"
                                        style="margin-top: 3px; margin-left: 10px; margin-bottom: 3px;">Bác sĩ online
                                    </p>
                                </div>
                                <div class="row" style="background-color: #389ACF">
                                    <i class="fas fa-user-md fa-5x ml-3" style="color:white"></i>
                                    <h2 class="text-white"
                                        style="margin-left: auto; margin-top: 20px; margin-right: 10px;">122</h2>
                                </div>
                                <div class="row" style="background-color: #1CBAEB">
                                    <p class="text-white ml-auto mr-auto mb-1 mt-1">Chi tiết...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="admin-content-block">
                                <div class="row" style="background-color: #326FC0">
                                    <p class="text-white"
                                        style="margin-top: 3px; margin-left: 10px; margin-bottom: 3px;">Đơn đặt hôm nay
                                    </p>
                                </div>
                                <div class="row" style="background-color: #389ACF">
                                    <i class="fas fa-notes-medical fa-5x ml-3" style="color:white"></i>
                                    <h2 class="text-white"
                                        style="margin-left: auto; margin-top: 20px; margin-right: 10px;">{{DonHen}}</h2>
                                </div>
                                <div class="row" style="background-color: #1CBAEB">
                                    <p class="text-white ml-auto mr-auto mb-1 mt-1">Chi tiết...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mt-1 mb-1">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="admin-content-block">
                                <canvas id="myChart1" width="400" height="300"></canvas>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="admin-content-block">
                                <canvas id="myChart2" width="400" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- chart status -->
                <script>
                    var ctx = document.getElementById('myChart1').getContext('2d');
                    var myPieChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['Gói thường', 'Gói Premium', 'Hoa hồng', 'Trung gian'],
                            datasets: [{
                                data: [145, 78, 197, 87],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Doanh thu tháng 4'
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                    var bar = document.getElementById('myChart2').getContext('2d');
                    var myBarChart = new Chart(bar, {
                        type: 'bar',
                        data: {
                            labels: ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ nhật'],
                            datasets: [{
                                data: [345, 368, 321, 464, 450, 395, 405],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(35, 159, 79, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)',
                                    'rgba(35, 159, 79, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Lịch hẹn được đặt trong tuần'
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</body>
{{/each}}