<body>
    <div class="wrapper" style="margin-top: 56px;">
        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin"><i class="fas fa-chart-line"></i> Thống kê</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/serviceplan"><i class="fas fa-box-open"></i> Gói dịch vụ</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/category"><i class="fas fa-book-open"></i> Mục lục</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#AccountSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i
                            class="fas fa-users"></i> Tài khoản</a>
                    <ul class="collapse list-unstyled" id="AccountSubmenu">
                        <li class="active">
                            <a href="/admin/user">Người dùng</a>
                        </li>
                        <li>
                            <a href="/admin/doctor">Bác sĩ</a>
                        </li>
                        <li>
                            <a href="/admin/clinic">Phòng khám</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#DiscountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-gift"></i> Khuyến mãi</a>
                    <ul class="collapse list-unstyled" id="DiscountSubmenu">
                        <li>
                            <a href="/admin/discount">Danh sách</a>
                        </li>
                        <li>
                            <a href="/admin/voucher">Vouchers</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/advertisement"><i class="fas fa-ad"></i> Quảng cáo</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/report"><i class="fas fa-scroll"></i> Báo cáo</a>
                </li>
            </ul>
        </nav>

        <!-- main content -->
        <div class="main">
            <h4>Người dùng</h4>
            <li class="divider"></li>
            <div class="container-fluid">
                <!-- Muc luc -->
                <section class="mt-1 mb-1">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="admin-content-block">
                                <div class="mt-3">
                                    <p>
                                        <h6><i class="fas fa-list"></i> Danh sách </h6>
                                    </p>
                                </div>
                                <table class="table table-bordered mt-3">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Tên đăng nhập</th>
                                            <th scope="col" class="text-center">Họ tên người dùng</th>
                                            <th scope="col" class="text-center">Số điện thoại</th>
                                            <th scope="col" class="text-center">Email</th>
                                            <th scope="col" class="text-center">Ngày tham gia</th>
                                            <th scope="col" class="text-center">Trạng thái</th>
                                            <th scope="col" class="text-center">Tùy chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each nguoidung}}
                                        <tr>
                                            <td>{{Username}}</td>
                                            <td>{{HoTen}}</td>
                                            <td class="text-center">{{SoDienThoai}}</td>
                                            <td class="text-center">{{Email}}</td>
                                            <td class="text-center">{{createdAt}}</td>
                                            {{#if TrangThai}}
                                            <td class="text-center">Mở</td>
                                            {{else}}
                                            <td class="text-center">Khóa</td>
                                            {{/if}}
                                            <td align="center">
                                                <div class="row justify-content-center">
                                                    {{#if (eq TrangThai false)}}
                                                    <form action="/admin/user/{{id}}" method="POST">
                                                        <input type="hidden" name="action" value="1">
                                                        <button type="submit" class="btn btn-primary mr-3"><i
                                                                class="fas fa-unlock" data-toggle="tooltip"
                                                                data-placement="bottom" title="Mở"></i></button>
                                                    </form>
                                                    {{/if}}
                                                    {{#if (eq TrangThai true)}}
                                                    <form action="/admin/user/{{id}}" method="POST">
                                                        <input type="hidden" name="action" value="0">
                                                        <button type="submit" class="btn btn-primary mr-2"><i
                                                                class="fas fa-lock" data-toggle="tooltip"
                                                                data-placement="bottom" title="Khoá"></i></button>
                                                    </form>
                                                    {{/if}}
                                                    <form action="/admin/user/{{id}}/delete?_method=DELETE" method="POST">
                                                        <input type="hidden" name="action">
                                                        <button type="submit" class="btn btn-warning"><i
                                                                class="fas fa-trash-alt" data-toggle="tooltip"
                                                                data-placement="bottom" title="Xoá"></i></button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                <!-- pagination -->
                                <div class="col-md-9">
                                    <div>
                                        {{{paginate pagination limit="3"}}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="admin-content-block">
                                <div class="mt-3">
                                    <p>
                                        <h6><i class="fas fa-filter"></i> Lọc danh sách </h6>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="hoTen">Tên người dùng</label>
                                    <input type="text" id="hoTen" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" class="form-control">
                                </div>
                                <div class="form-group row px-3">
                                    <label for="formDate">Ngày tham gia</label>
                                    <input type="date" class="form-control" name="dateReg" id="formDate" name="dateReg"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="trangThai">Trạng thái</label>
                                    <select class="form-control" id="trangThai">
                                        <option>Mở</option>
                                        <option>Khóa</option>
                                    </select>
                                </div>
                                <div class="text-center">
                                    <a id="filterButton" class="btn btn-primary mb-3" href="#" role="button">Lọc</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>