<body>
    <div class="wrapper" style="margin-top: 56px;">
        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin"><i class="fas fa-chart-line"></i> Thống kê</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/serviceplan"><i class="fas fa-box-open"></i> Gói dịch vụ</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/category"><i class="fas fa-book-open"></i> Mục lục</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#AccountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-users"></i> Tài khoản</a>
                    <ul class="collapse list-unstyled" id="AccountSubmenu">
                        <li>
                            <a href="/admin/user">Người dùng</a>
                        </li>
                        <li>
                            <a href="/admin/doctor">Bác sĩ</a>
                        </li>
                        <li>
                            <a href="/admin/clinic">Phòng khám</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#DiscountSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i
                            class="fas fa-gift"></i> Khuyến mãi</a>
                    <ul class="collapse list-unstyled" id="DiscountSubmenu">
                        <li class="active">
                            <a href="/admin/discount">Danh sách</a>
                        </li>
                        <li>
                            <a href="/admin/voucher">Vouchers</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/advertisement"><i class="fas fa-ad"></i> Quảng cáo</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/report"><i class="fas fa-scroll"></i> Báo cáo</a>
                </li>
            </ul>
        </nav>

        <!-- main content -->
        <div class="main">
            <h4>Khuyến mãi</h4>
            <li class="divider"></li>
            <div class="container-fluid">
                <!-- Muc luc -->
                <section class="mt-1 mb-1">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="admin-content-block">
                                <div class="mt-3">
                                    <p>
                                        <h6><i class="fas fa-list"></i> Danh sách </h6>
                                    </p>
                                </div>
                                <table class="table table-bordered mt-3">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Tên khuyến mãi</th>
                                            <th scope="col" class="text-center">Mức giảm</th>
                                            <th scope="col" class="text-center">Code</th>
                                            <th scope="col" class="text-center">Thời gian bắt đầu</th>
                                            <th scope="col" class="text-center">Thời gian kết thúc</th>
                                            <th scope="col" class="text-center">Trạng thái</th>
                                            <th scope="col" class="text-center">Tùy chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each khuyenmai}}
                                        <tr>
                                            <td>{{Ten}}</td>
                                            <td class="text-center">{{MucGiam}}%</td>
                                            <td class="text-center">{{Code}}</td>
                                            <td class="text-center">{{ThoiGianBatDau}}</td>
                                            <td class="text-center">{{ThoiGianKetThuc}}</td>
                                            {{#if TrangThai}}
                                            <td class="text-center">Đang chạy</td>
                                            {{else}}
                                            <td class="text-center">Kết thúc</td>
                                            {{/if}}
                                            <td align="center">
                                                <div class="row justify-content-center">
                                                    <form action="/admin/discount/{{id}}" method="POST">
                                                        <input type="hidden" name="action">
                                                        <button type="submit" class="btn btn-primary mr-2"><i
                                                                class="fas fa-edit" data-toggle="tooltip"
                                                                data-placement="bottom" title="Sửa"></i></button>
                                                    </form>
                                                    <form action="/admin/discount/{{id}}/delete?_method=DELETE"
                                                        method="POST">
                                                        <input type="hidden" name="action">
                                                        <button type="submit" class="btn btn-warning"><i
                                                                class="fas fa-trash-alt" data-toggle="tooltip"
                                                                data-placement="bottom" title="Xoá"></i></button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                <!-- pagination -->
                                <div class="row">
                                    <div class="col-md-10">
                                        <div>
                                            {{{paginate pagination limit="3"}}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="text-right">
                                            <a id="filterButton" class="btn btn-success" href="/admin/discount/add"
                                                role="button">Thêm
                                                khuyến mãi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="admin-content-block">
                                <div class="mt-3">
                                    <p>
                                        <h6><i class="fas fa-filter"></i> Lọc danh sách </h6>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="tenPhongKham">Tên khuyến mãi</label>
                                    <input type="text" id="tenPhongKham" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="trangThai">Trạng thái</label>
                                    <select class="form-control" id="trangThai">
                                        <option>Đang chạy</option>
                                        <option>Kết thúc</option>
                                    </select>
                                </div>
                                <div class="form-group row px-3">
                                    <label for="formDate">Ngày bắt đầu</label>
                                    <input type="date" class="form-control" name="dateStart" id="formDate"
                                        name="dateStart" required>
                                </div>
                                <div class="text-center">
                                    <a id="filterButton" class="btn btn-primary mb-3" href="#" role="button">Lọc</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>