<body>
    <div class="wrapper" style="margin-top: 56px;">
        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin"><i class="fas fa-chart-line"></i> Thống kê</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/serviceplan"><i class="fas fa-box-open"></i> Gói dịch vụ</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/category"><i class="fas fa-book-open"></i> Mục lục</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#AccountSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i
                            class="fas fa-users"></i> Tài khoản</a>
                    <ul class="collapse list-unstyled" id="AccountSubmenu">
                        <li>
                            <a href="/admin/user">Người dùng</a>
                        </li>
                        <li>
                            <a href="/admin/doctor">Bác sĩ</a>
                        </li>
                        <li class="active">
                            <a href="/admin/clinic">Phòng khám</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#DiscountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-gift"></i> Khuyến mãi</a>
                    <ul class="collapse list-unstyled" id="DiscountSubmenu">
                        <li>
                            <a href="/admin/discount">Danh sách</a>
                        </li>
                        <li>
                            <a href="/admin/voucher">Vouchers</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/advertisement"><i class="fas fa-ad"></i> Quảng cáo</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/report"><i class="fas fa-scroll"></i> Báo cáo</a>
                </li>
            </ul>
        </nav>

        <!-- main content -->
        <div class="main">
            <h4>Phòng khám</h4>
            <li class="divider"></li>
            <div class="container-fluid">
                <!-- Muc luc -->
                <section class="mt-1 mb-1">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="admin-content-block">
                                <div class="mt-3">
                                    <p>
                                        <h6><i class="fas fa-list"></i> Danh sách </h6>
                                    </p>
                                </div>
                                <table class="table table-bordered mt-3">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Tên phòng khám</th>
                                            <th scope="col" class="text-center">Số điện thoại</th>
                                            <th scope="col" class="text-center">Địa chỉ</th>
                                            <th scope="col" class="text-center">Điểm</th>
                                            <th scope="col" class="text-center">Gói dịch vụ</th>
                                            <th scope="col" class="text-center">Tùy chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each phongkham}}
                                        <tr>
                                            <td>{{Ten}}</td>
                                            <td class="text-center">{{SoDienThoai}}</td>
                                            <td>{{DiaChi}}</td>
                                            <td class="text-center">{{DiemTrungBinh}}</td>
                                            <td class="text-center">{{GoiDichVu}}</td>
                                            <td align="center">
                                                <form action="/admin/clinic/{{id}}/delete?_method=DELETE"
                                                    method="POST">
                                                    <input type="hidden" name="action">
                                                    <button type="submit" class="btn btn-default"><i
                                                            class="fas fa-trash-alt" data-toggle="tooltip"
                                                            data-placement="bottom" title="Xoá"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                <!-- pagination -->
                                <div class="col-md-9">
                                    <div>
                                        {{{paginate pagination limit="3"}}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="admin-content-block">
                                <div class="mt-3">
                                    <p>
                                        <h6><i class="fas fa-filter"></i> Lọc danh sách </h6>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="tenPhongKham">Tên phòng khám</label>
                                    <input type="text" id="tenPhongKham" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="chuyenKhoa">Gói dịch vụ</label>
                                    <select class="form-control" id="chuyenKhoa">
                                        <option>Gói thường</option>
                                        <option>Gói cao cấp</option>
                                    </select>
                                </div>
                                <div class="form-group row px-3">
                                    <label for="formDate">Ngày tham gia</label>
                                    <input type="date" class="form-control" name="dateReg" id="formDate" name="dateReg"
                                        required>
                                </div>
                                <div class="text-center">
                                    <a id="filterButton" class="btn btn-primary mb-3" href="#" role="button">Lọc</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>