<body>
    <div class="wrapper" style="margin-top: 56px;">
        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin"><i class="fas fa-chart-line"></i> Thống kê</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/serviceplan"><i class="fas fa-box-open"></i> Gói dịch vụ</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/category"><i class="fas fa-book-open"></i> Mục lục</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#AccountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fas fa-users"></i> Tài khoản</a>
                    <ul class="collapse list-unstyled" id="AccountSubmenu">
                        <li>
                            <a href="/admin/user">Người dùng</a>
                        </li>
                        <li>
                            <a href="/admin/doctor">Bác sĩ</a>
                        </li>
                        <li>
                            <a href="/admin/clinic">Phòng khám</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#DiscountSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle"><i
                            class="fas fa-gift"></i> Khuyến mãi</a>
                    <ul class="collapse list-unstyled" id="DiscountSubmenu">
                        <li class="active">
                            <a href="/admin/discount">Danh sách</a>
                        </li>
                        <li>
                            <a href="/admin/voucher">Vouchers</a>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/advertisement"><i class="fas fa-ad"></i> Quảng cáo</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/admin/report"><i class="fas fa-scroll"></i> Báo cáo</a>
                </li>
            </ul>
        </nav>

        <!-- main content -->
        <div class="main">
            <h4>Khuyến mãi</h4>
            <li class="divider"></li>
            <div class="container-fluid">
                <!-- Muc luc -->
                <section class="mt-1 mb-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="admin-content-block">
                                <div class="mt-3">
                                    <p>
                                        <h6><i class="fas fa-edit"></i> Thêm khuyến mãi </h6>
                                    </p>
                                </div>
                                <form action="/admin/discount/add" method="POST">
                                    <!-- Text input-->
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label text-right" for="tenKhuyenMai">Tên khuyến
                                            mãi</label>
                                        <div class="col-md-6">
                                            <input id="tenKhuyenMai" name="tenKhuyenMai" type="text"
                                                class="form-control input-md">

                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label text-right" for="mucGiam">Mức giảm</label>
                                        <div class="col-md-6">
                                            <input id="mucGiam" name="mucGiam" type="text"
                                                class="form-control input-md">

                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group row">
                                        <label class="col-md-3 control-label text-right" for="code">Code khuyến
                                            mãi</label>
                                        <div class="col-md-6">
                                            <input id="code" name="code" type="text" class="form-control input-md">

                                        </div>
                                    </div>

                                    <!-- Button Drop Down -->
                                    <div class="form-group row text-right">
                                        <label class="col-md-3 control-label" for="pkApDung">Phòng khám áp dụng</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="pkApDung" name="pkApDung" class="form-control" placeholder=""
                                                    type="text">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown">
                                                        Chọn
                                                        <span class="caret ml-4"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Textarea -->
                                    <div class="form-group row text-right">
                                        <label class="col-md-3 control-label" for="danhSachPK"></label>
                                        <div class="col-md-6">
                                            <textarea class="form-control" id="danhSachPK" name="danhSachPK"></textarea>
                                        </div>
                                    </div>

                                    <!-- start day -->
                                    <div class="form-group row">
                                        <label for="formDate" class="col-md-3 control-label text-right">Ngày bắt
                                            đầu:</label>
                                        <div class="col-md-6">
                                            <input type="date" class="form-control" name="dateStart" id="formDate"
                                                name="dateStart" required>
                                        </div>
                                    </div>

                                    <!-- end day -->
                                    <div class="form-group row">
                                        <label for="formDate" class="col-md-3 control-label text-right">Ngày kết
                                            thúc:</label>
                                        <div class="col-md-6">
                                            <input type="date" class="form-control" name="dateEnd" id="formDate"
                                                name="dateEnd" required>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="row mb-3">
                                        <div class=" form-group col-md-6 text-right">
                                            <button type="submit" class="btn btn-primary"> Lưu </button>
                                        </div>
                                        <div class=" form-group col-md-6 text-left">
                                            <a href="/admin/advertisement" class="btn btn-warning" role="button"> Hủy
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>