{{#with bacSi}}
<header class="medical-header">
    <!-- ad -->

    <div class="container">
        <!-- information -->
        <div class="row mb-3">
            <div class="col-md-3">
                <img src="{{ Avatar }}" alt="no img" class="pk-avatar">
            </div>
            <div class="col-md-9 my-auto">
                <div class="float-left">
                    <h3 class="text-white" style="text-shadow: 2px 2px 8px #1D3775;">{{ HoTen }}</h3>
                    {{!-- <h5 class="rating mt-3 float-left">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="text-white"> 4.5 (20)</span>
                    </h5> --}}
                </div>
            </div>
        </div>

    </div>
</header>

<section class="mt-5">
    <div class="container content-block">
        <h6><i class="fas fa-stethoscope"></i> {{ ChuyenKhoa.Ten }}</h6>
        <h6><i class="fas fa-certificate"></i> {{ BangCap }}</h6>
        <h6><i class="fas fa-phone"></i> {{ SoDienThoai }}</h6>
        <h6><i class="fas fa-paper-plane"></i> {{ Email }}</h6>
    </div>
</section>

<section class="mt-3 container content-block">
    {{{ ThongTinChiTiet }}}
</section>
{{/with}}

<section class="mt-1">
    <div class="container content-block">
        <h4 class="text-deep-blue" style="text-align: center;">NƠI LÀM VIỆC</h4>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-md-8">
                {{#each phongKham}}
                <div class="card">
                    <img class="card-img-top" src="{{ Thumbnail }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ Ten }}</h5>
                        <p class="card-text">{{ ChiTietDiaChi.Duong }}, {{ ChiTietDiaChi.QuanHuyen.path_with_type }}</p>
                        <a href="/phong-kham/{{ id }}" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>