<!-- content -->
<section>
    <div class="container">
            {{#with nguoiDung}}
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                    <div class="container">
                        <a class="navbar-brand" href="#">MyMedical</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
            
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="fas fa-bell"></i></a>
                                </li>
                                <li class="nav-item avatar">
                                    <a class="nav-link p-0 mt-1" href="#">
                                        <img src={{Avatar}} class="rounded-circle z-depth-0" alt="avatar image" height="31">
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link font-weight-bold" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{HoTen}}</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Đăng xuất</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            {{/with}}

            <h2>ĐỔI MẬT KHẨU</h2>
            <!-- ChangePasswordForm -->
            <form action="../views/InforChangeSucess.html">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput"><i class="fas fa-lock-open"></i> Mật khẩu
                        cũ:</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="password" placeholder="Mật khẩu cũ"
                            class="form-control input-md" required>

                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="passwordinput"><i class="fas fa-unlock"></i> Mật khẩu
                        mới:</label>
                    <div class="col-md-4">
                        <input id="password" name="passwordinput" type="password" placeholder="Mật khẩu mới"
                            class="form-control input-md" required>

                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="passwordinput"><i class="fas fa-unlock-alt"></i> Nhập lại
                        mật khẩu mới:</label>
                    <div class="col-md-4">
                        <input id="confirm_password" name="passwordinput" type="password" placeholder="Mật khẩu mới"
                            class="form-control input-md" required=>

                    </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnChange"></label>
                    <div class="col-md-4">
                        <button onclick="onClickChangeBtn()" type="submit" id="btnChange" name="btnChange"
                            class="btn btn-primary">Thay đổi</button>
                    </div>
                </div>
                <div>
                    <span id="message"></span>
                </div>

            </form>

        </div>
    </div>
</section>
