<!-- header -->
<header class="medical-header">
    <!-- ad -->
    <div class="container-fluid">
        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                {{#each QuangCaos}}
                <div class="carousel-item col-md-3 {{#if (eq id 1)}}active{{/if}}">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image {{id}}" class="thumb">
                                <img class="img-fluid mx-auto d-block" style="width: 350px; height: 250px;"
                                    src="{{ HinhAnh }}" alt="slide {{id}}">
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <!-- form header -->
    <div class="container mt-5 form-header py-2">
        <h5 id="form-title">Hẹn khám bệnh</h5>
    </div>
</header>

<!-- form -->
{{!-- <section>
    <div class="my-form container py-3 ">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputType">Loại bệnh</label>
                    <input type="text" class="form-control" id="inputType" name="inputType" placeholder="Loại bệnh">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLocation">Địa điểm</label>
                    <input type="password" class="form-control" id="inputLocation" name="inputLocation"
                        placeholder="Địa điểm">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputDate">Ngày khám</label>
                    <input type="text" class="form-control" id="inputDate" name="inputDate" placeholder="Ngày khám">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTime">Giờ khám</label>
                    <input type="password" class="form-control" id="inputTime" name="inputTime" placeholder="Giờ khám">
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-search"></i> Tìm phòng
                khám</button>
        </form>
    </div>
</section> --}}

<section>
    <div class="my-form container py-3 ">
        <form action="/tim-kiem" method="GET">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="ChuyenKhoaId">Khoa khám bênh:</label>
                    <select class="form-control" name="ChuyenKhoaId" id="ChuyenKhoaId">
                        {{#each chuyenKhoa}}
                        <option value="{{id}}">{{Ten}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="TinhThanhPhoId">Tỉnh/Thành phố</label>
                    <select class="form-control" name="TinhThanhPhoId" id="TinhThanhPhoId"
                        onchange="changeQuanHuyenData()">
                        {{#each tinhThanhPho}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="QuanHuyenId">Quận/Huyện</label>
                    <select class="form-control" name="QuanHuyenId" id="QuanHuyenId">

                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-search"></i> Tìm phòng
                khám</button>
        </form>
    </div>
</section>

<!-- Portfolio Grid -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-left">
                <h2 class="section-heading text-uppercase text-dark">Cơ sở Y tế nổi bật</h2>
            </div>
            <div class="col-lg-6 text-right">
                <h8 class="section-subheading text-info">Xem thêm >></h8>
            </div>
        </div>
        <div class="row">
            {{#each PhongKhams}}
            <div class="col-md-4 col-sm-6 portfolio-item mb-3">
                <a class="portfolio-link" href="/phong-kham/{{ id }}">
                    <img class="img-fluid" src="{{ Thumbnail }}" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ Ten }}</h4>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<!-- doctor -->
<section>
    <div class="container">
        <div class="row py-3">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-uppercase text-dark">Bác sĩ được yêu thích</h2>
            </div>
        </div>
        <div class="row">
            {{#each BacSis}}
            <div class="col-sm-4">
                <div class="team-member">
                    <a href="/bac-si/{{ id }}">
                        <img class="mx-auto rounded-circle" src="{{ this.Avatar }}" alt="">
                    </a>
                    <h4>{{ HoTen }}</h4>
                    <p class="text-muted">{{ BangCap }}</p>
                    <h6>{{ ChuyenKhoa.Ten }}</h6>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<script>
    function changeQuanHuyenData() {
        $.post(`${window.location.origin}/api/quan-huyen/${$('#TinhThanhPhoId').val()}.json`, function (data) {
            let options = '';
            for (let i = 0; i < data.length; i++) {
                let op = `<option value="${data[i].id}">${data[i].name}</option>`;
                options += op;
            }

            $('#QuanHuyenId').html(options);
        });
    };

    changeQuanHuyenData();
</script>