<div class="container mt-5 py-3" style="text-align: center;">
    <h4 class="text-deep-blue">Chào mừng bạn trở lại MyMedical</h4>
    <small>Bạn chưa có tài khoản? <strong><a href="/dang-ky">Đăng ký ngay!</a></strong></small>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <form action="/dang-nhap" method="POST">
                <div class="form-group py-2">
                    <label class="text-deep-blue" for="exampleInputEmail1">Username hoặc Email</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="username"
                        placeholder="Nhập username hoặc email của bạn" required>
                </div>
                <div class="form-group py-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="text-deep-blue" for="exampleInputPassword1">Mật khẩu</label>
                        </div>
                        <div class="col-sm-6 d-flex justify-content-right">
                            <a href="/quen-mat-khau"></a>
                        </div>
                    </div>

                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                        placeholder="Nhập mật khẩu của bạn" required>
                </div>

                <!-- referer -->
                <input type="hidden" name="referer" value="{{referer}}">

                <div class="row d-flex justify-content-center py-2">
                    <button type="submit" class="medical-btn btn btn-success py-2 px-4"><i
                            class="fas fa-sign-in-alt"></i> Đăng nhập</button>
                </div>
            </form>

            <div class="gray-box mt-2 py-2 px-2">
                <p class="text-deep-blue" style="text-align: center;">Hoặc đăng nhập bằng:</p>
                <div class="row  d-flex justify-content-center">
                    <a href="/dang-nhap/facebook" class="medical-btn btn btn-success px-5"
                        style="background-color: #104FA2;">
                        <i class="fab fa-facebook-f"></i> Facebook
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex flex-row-reverse">
            <img id="login-img" src="/images/login.jpg" alt="no-img">
        </div>
    </div>
</div>

<br><br><br><br><br>