{{#with phongKham}}
<!-- header -->
<header class="medical-header">
    <!-- ad -->

    <div class="container">
        <!-- information -->
        <div class="row">
            <div class="col-md-3">
                <img src="{{ Avatar }}" alt="no img" class="pk-avatar">
            </div>
            <div class="col-md-9 my-auto">
                <div class="float-left">
                    <h3 class="text-white" style="text-shadow: 2px 2px 8px #1D3775;">{{ Ten }}</h3>
                    <h5 class="rating mt-3 float-left">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="text-white"> 4.5 (20)</span>
                    </h5>
                </div>
            </div>
        </div>

        <!-- tab -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="/phong-kham/{{id}}"><i
                                class="fas fa-info-circle"></i> Thông tin chi tiết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/feedback"><i
                                class="fas fa-comments"></i> Nhận xét</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/images"><i
                                class="far fa-images"></i>
                            Hình ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/lichhen"><i
                                class="fas fa-notes-medical"></i> Đặt lịch hẹn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- content -->
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-block">
                    <p class="text-green"><i class="fas fa-phone"></i> {{ SoDienThoai }}</p>
                    <p><span class="text-green"><i class="fas fa-map-marker-alt"></i></span> {{ DiaChi }}</p>
                    <p><span class="text-green"><i class="fas fa-clock"></i></span> Thứ Hai - Chủ Nhật: 08:00 -
                        21:00</p>
                    <iframe width="290" height="350" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJr147XboodTERIlzuJ-UYOUA&key=AIzaSyAPil4bUDSrmtR40FECjiIn7f2hOqeFe0Y"
                        allowfullscreen></iframe>
                </div>
                <div class="content-block" style="padding: 5px;">
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href={{ FanpageFB }}&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=709431652569478"
                        width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <!-- information -->
                    <div id="tab-1">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="content-block">
                                    <h3 class="text-green"><i class="fas fa-bullhorn"></i> Giới Thiệu</h3>
                                    <hr>
                                    <p style="text-align: justify;" id="GioiThieu">{{{ GioiThieu }}}</p>
                                    <a class="text-green" href="#" id="XemThem">... Xem thêm <i
                                            class="fas fa-angle-double-right"></i></a>
                                </div>
                                <div class="content-block">
                                    <h3 class="text-green"><i class="fas fa-user-md"></i> Đội Ngũ</h3>
                                    <hr>
                                    <div class="form-group row">
                                        <label for="" class="my-auto col-sm-4 col-form-label"><span
                                                class="text-nowrap">Chuyên khoa:</span></label>
                                        <select class="col-sm-8 form-control form-control-sm">
                                            <option value="" disabled selected>Tất cả (2)</option>
                                            <option value="">Khám Bệnh</option>
                                            <option value="">Nội Tiết</option>
                                            <option value="">Nam Khoa</option>
                                            <option value="">Da Liễu</option>
                                            <option value="">Hiếm muộn - Vô sinh</option>
                                        </select>
                                    </div>
                                    {{#each BacSi}}
                                    <div class="user-block">
                                        <a href="/bac-si/{{ id }}"></a>
                                        <img src="{{ Avatar }}" alt="no img">
                                        </a>
                                        <div class="user-block-content">
                                            <p>{{ HoTen }} <span style="color:cornflowerblue;"><i
                                                        class="fas fa-check-circle"></i></span></p>
                                            <small>{{ BangCap }}</small>
                                        </div>
                                    </div>
                                    <hr>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="content-block">
                                    <h3 class="text-green"><i class="fas fa-clinic-medical"></i> Chuyên Khoa</h3>
                                    {{#each ChuyenKhoa}}
                                    <hr>
                                    <h6>{{ Ten }}</h6>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/with}}

<script>
    const goiThieu = $('#GioiThieu')[0];
    const noiDung = goiThieu.innerHTML;

    goiThieu.innerHTML = noiDung.slice(0, 500) + '...';

    let isXemThem = true;

    $('#XemThem').on('click', e => {
        e.preventDefault();
        if (isXemThem) {
            goiThieu.innerHTML = noiDung;
            $('#XemThem')[0].innerHTML = 'Thu gọn <i class="fas fa-angle-double-left"></i>';
            isXemThem = false;
        } else {
            goiThieu.innerHTML = noiDung.slice(0, 500) + '...';
            $('#XemThem')[0].innerHTML = '... Xem thêm <i class="fas fa-angle-double-right"></i>';
            isXemThem = true;
        }
    });
</script>