{{#with phongKham}}
<!-- header -->
<header class="medical-header">
    <!-- ad -->

    <div class="container">
        <!-- information -->
        <div class="row">
            <div class="col-md-3">
                <img src="{{ Avatar }}" alt="no img" class="pk-avatar">
            </div>
            <div class="col-md-9 my-auto">
                <div class="float-left">
                    <h3 class="text-white" style="text-shadow: 2px 2px 8px #1D3775;">{{ Ten }}</h3>
                    <h5 class="rating mt-3 float-left">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="text-white"> 4.5 (20)</span>
                    </h5>
                </div>
            </div>
        </div>

        <!-- tab -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}" role="tab"><i
                                class="fas fa-info-circle"></i> Thông tin chi tiết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/feedback" role="tab"><i
                                class="fas fa-comments"></i> Nhận xét</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/phong-kham/{{id}}/images" role="tab"><i
                                class="far fa-images"></i>
                            Hình ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/lichhen" role="tab"><i
                                class="fas fa-notes-medical"></i> Đặt lịch hẹn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- content -->
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-block">
                    <p class="text-green"><i class="fas fa-phone"></i> {{ SoDienThoai }}</p>
                    <p><span class="text-green"><i class="fas fa-map-marker-alt"></i></span> {{ DiaChi }}</p>
                    <p><span class="text-green"><i class="fas fa-clock"></i></span> Thứ Hai - Chủ Nhật: 08:00 -
                        21:00</p>
                    <iframe width="290" height="350" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJr147XboodTERIlzuJ-UYOUA&key=AIzaSyAPil4bUDSrmtR40FECjiIn7f2hOqeFe0Y"
                        allowfullscreen></iframe>
                </div>
                <div class="content-block" style="padding: 5px;">
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href={{ FanpageFB }}&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=709431652569478"
                        width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <!-- images -->
                    <div id="tab-3">
                        <div class="content-block">
                            <div class="row">
                                {{#each Gallery}}
                                <div class="col-12 col-md-4 col-sm-6">
                                    <a href="{{ this }}" data-fancybox="gallery">
                                        <img src="{{ this }}" alt="no img" class="img-thumbnail image-gallery-preview"
                                            id="image-1">
                                    </a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/with}}