{{#with phongKham}}
<!-- header -->
<header class="medical-header">
    <!-- ad -->

    <div class="container">
        <!-- information -->
        <div class="row">
            <div class="col-md-3">
                <img src="{{ Avatar }}" alt="no img" class="pk-avatar">
            </div>
            <div class="col-md-9 my-auto">
                <div class="float-left">
                    <h3 class="text-white" style="text-shadow: 2px 2px 8px #1D3775;">{{ Ten }}</h3>
                    <h5 class="rating mt-3 float-left">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="text-white"> 4.5 (20)</span>
                    </h5>
                </div>
            </div>
        </div>

        <!-- tab -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}" role="tab"><i
                                class="fas fa-info-circle"></i> Thông tin chi tiết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/feedback" role="tab"><i
                                class="fas fa-comments"></i> Nhận xét</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/images" role="tab"><i
                                class="far fa-images"></i>
                            Hình ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/phong-kham/{{id}}/lichhen" role="tab"><i
                                class="fas fa-notes-medical"></i> Đặt lịch hẹn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- content -->
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-block">
                    <p class="text-green"><i class="fas fa-phone"></i> {{ SoDienThoai }}</p>
                    <p><span class="text-green"><i class="fas fa-map-marker-alt"></i></span> {{ DiaChi }}</p>
                    <p><span class="text-green"><i class="fas fa-clock"></i></span> Thứ Hai - Chủ Nhật: 08:00 -
                        21:00</p>
                    <iframe width="290" height="350" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJr147XboodTERIlzuJ-UYOUA&key=AIzaSyAPil4bUDSrmtR40FECjiIn7f2hOqeFe0Y"
                        allowfullscreen></iframe>
                </div>
                <div class="content-block" style="padding: 5px;">
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href={{ FanpageFB }}&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=709431652569478"
                        width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <!-- lichhen -->
                    <div id="tab-4">
                        <div class="content-block">
                            {{#if ../currentUser}}
                            <small>Điền các thông tin bên dưới để chúng tôi có thể hỗ trợ bạn đặt lịch hẹn sớm
                                nhất!</small>
                            <form action="/phong-kham/{{id}}/dat-lich" method="POST">
                                <div class="form-group row">
                                    <label for="formFullname" class="col-sm-2 col-form-label text-nowrap">Họ và
                                        tên:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="formFullname" name="fullname"
                                            placeholder="Nhập họ và tên của bạn" value="{{../currentUser.HoTen}}"
                                            required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="formPhone" class="col-sm-2 col-form-label text-nowrap">Số điện
                                        thoại:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="formPhone" name="phone"
                                            placeholder="Nhập số điện thoại của bạn"
                                            value="{{../currentUser.SoDienThoai}}" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="formEmail" class="col-sm-2 col-form-label text-nowrap">Email:</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="formEmail" name="email"
                                            placeholder="Nhập email của bạn" value="{{../currentUser.Email}}" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="formGender" class="col-sm-2 col-form-label text-nowrap">Giới
                                        tính:</label>
                                    <div class="col-sm-2">
                                        <select id="formGender" class="form-control" name="gender">
                                            <option value="male" selected>Nam</option>
                                            <option value="female">Nữ</option>
                                            <option value="other">Khác</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="formDate" class="col-sm-2 col-form-label text-nowrap">Ngày khám:</label>
                                    <div class="col-sm-4">
                                        <input type="date" class="form-control" name="date" id="formDate" name="date"
                                            onchange="checkValidDate(this)" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="formTime" class="col-sm-2 col-form-label text-nowrap">Giờ khám:</label>
                                    <div class="col-sm-3">
                                        <input type="time" class="form-control" id="formTime" value="19:00" name="time"
                                            required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="formFaculty" class="col-sm-2 col-form-label text-nowrap">Khoa:</label>
                                    <div class="col-sm-5">
                                        <select id="formFaculty" class="form-control" name="faculty">
                                            {{#each ChuyenKhoa}}
                                            <option value="{{Ten}}">{{Ten}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="formDoctor" class="col-sm-2 col-form-label text-nowrap">Bác sĩ:</label>
                                    <div class="col-sm-5">
                                        <select id="formDoctor" class="form-control" name="doctor">
                                            <option value="0" selected>Bác sĩ</option>
                                            {{#each BacSi}}
                                            <option value=" {{HoTen}}">{{HoTen}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="formNote" class="col-sm-2 col-form-label text-nowrap">Ghi chú:</label>
                                    <div class="col-sm-10">
                                        <textarea name="note" class="form-control" id="formNote" cols="70" rows="3"
                                            placeholder="Bạn muốn khám gì?"></textarea>
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-row-reverse px-4 py-2">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-calendar-alt"></i> Đặt hẹn</button>
                                </div>
                            </form>
                            {{else}}
                            <h5 class="text-center">Bạn cần <a href="/dang-nhap">đăng nhập</a> để thực
                                hiện chức năng
                                này!</h5>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('formDate').value = new Date().toDateInputValue();
    document.getElementById('formDate').min = new Date().toDateInputValue();

    function checkValidDate(input) {
        const min = new Date();
        const cur = new Date(input.value);
        
        if (cur.getTime() < min.getTime()) {
            input.setCustomValidity('Ngày không hợp lệ!');
            input.value = new Date().toDateInputValue();
        } else {
            input.setCustomValidity('');
        }
    }
</script>
{{/with}}
