{{#with phongKham}}
<!-- header -->
<header class="medical-header">
    <!-- ad -->

    <div class="container">
        <!-- information -->
        <div class="row">
            <div class="col-md-3">
                <img src="{{ Avatar }}" alt="no img" class="pk-avatar">
            </div>
            <div class="col-md-9 my-auto">
                <div class="float-left">
                    <h3 class="text-white" style="text-shadow: 2px 2px 8px #1D3775;">{{ Ten }}</h3>
                    <h5 class="rating mt-3 float-left">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="text-white"> 4.5 (20)</span>
                    </h5>
                </div>
            </div>
        </div>

        <!-- tab -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}" role="tab"><i class="fas fa-info-circle"></i>
                            Thông tin chi tiết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/phong-kham/{{id}}/feedback" role="tab"><i
                                class="fas fa-comments"></i> Nhận xét</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/images" role="tab"><i class="far fa-images"></i>
                            Hình ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/lichhen" role="tab"><i
                                class="fas fa-notes-medical"></i> Đặt lịch hẹn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- content -->
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="content-block">
                    <p class="text-green"><i class="fas fa-phone"></i> {{ SoDienThoai }}</p>
                    <p><span class="text-green"><i class="fas fa-map-marker-alt"></i></span> {{ DiaChi }}</p>
                    <p><span class="text-green"><i class="fas fa-clock"></i></span> Thứ Hai - Chủ Nhật: 08:00 -
                        21:00</p>
                    <iframe width="290" height="350" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJr147XboodTERIlzuJ-UYOUA&key=AIzaSyAPil4bUDSrmtR40FECjiIn7f2hOqeFe0Y"
                        allowfullscreen></iframe>
                </div>
                <div class="content-block" style="padding: 5px;">
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href={{ FanpageFB }}&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=709431652569478"
                        width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <!-- feedback -->
                    <div id="tab-2">
                        <!-- input box -->
                        <div class="content-block">
                            {{#if ../currentUser}}
                            <div class="row">
                                <div class="col-sm-2 px-0">
                                    <p class="text-nowrap">Đánh giá:</p>
                                </div>
                                <div class="col-sm-3">
                                    <h5 class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </h5>
                                </div>
                                <p class="text-green ml-2">Rất hài lòng</p>
                            </div>
                            <div class="row">
                                <form action="/phong-kham/{{id}}/feedback" method="POST">
                                    <div class="form-group">
                                        <label for="inputComment">Bình luận:</label>
                                        <textarea class="form-control" id="inputComment" name="feedback" rows="3"
                                            cols="70"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Gửi bình luận</button>
                                </form>
                            </div>
                            {{else}}
                            <h6>Bạn phải <a href="/dang-nhap"><b>Đăng nhập</b></a> để gửi phản hồi!</h6>
                            {{/if}}
                        </div>

                        <!-- comments box -->
                        <div class="content-block">
                            {{#each Feedback}}
                            <div class="user-block">
                                <img src="{{ User.Avatar }}" alt="no img">
                                <div class="user-block-content">
                                    <p>{{ User.Username }}
                                        <span class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </span></p>
                                    <small>{{ NoiDung }}</small>
                                </div>
                            </div>
                            <hr>
                            {{/each}}

                            {{!-- <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav> --}}
                            <div class="row px-3 py-3">
                                {{{paginate ../pagination limit="3"}}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/with}}