{{#with phongKham}}
<input type="hidden" id="PhongKhamId" value="{{id}}">
<input type="hidden" id="Avatar" value="{{Avatar}}">
<!-- header -->
<header class="medical-header">
    <!-- ad -->

    <div class="container">
        <!-- information -->
        <div class="row">
            <div class="col-md-3">
                <form action="/phong-kham/{{id}}/avatar?_method=PUT" id="form-avatar-upload" method="POST"
                    enctype="multipart/form-data">
                    {{#if Avatar}}
                    <div id="avatar-hover">
                        <img src="{{ Avatar }}" alt="no img" class="pk-avatar">
                    </div>
                    {{else}}
                    <label for="file-upload" class="phong-kham-avatar-hover">
                        <i class="fas fa-upload fa-3x"></i>
                    </label>
                    {{/if}}
                    <input id="file-upload" type="file" name="file" accept="image/*" multiple />
                </form>
            </div>
            <div class="col-md-9 my-auto">
                <div class="float-left">
                    <h3 class="text-white" style="text-shadow: 2px 2px 8px #1D3775;">{{ Ten }}</h3>
                    <h5 class="rating mt-3 float-left">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="text-white"> 4.5 (20)</span>
                    </h5>
                </div>
            </div>
        </div>

        <!-- tab -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly"><i class="fas fa-info-circle"></i> Thông tin chi tiết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly/nhan-vien">
                            <i class="fas fa-user-friends"></i>
                            Nhân viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/phong-kham/{{id}}/quan-ly/images">
                            <i class="far fa-images"></i>
                            Hình ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly/lich-hen"><i
                                class="fas fa-notes-medical"></i> Quản lý lịch hẹn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

{{!-- hinh anh --}}
<section id="tab-3" class="mt-3">
    <div class="container">
        <div class="content-block">
            <h3>Thumbnail</h3>
            <hr>
            <img src="{{Thumbnail}}" class="img-thumbnail" alt="no-img">
            <hr>
            <img src="#" alt="xem trước" class="img-thumbnail" id="image-preview">

            <form class="ml-3" action="/phong-kham/{{id}}/thumbnail?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="row mt-3">
                    <label for="input-thumbnail">
                        <a class="btn btn-success btn-block text-white"><i class="fa fa-plus"></i> Thêm ảnh</a>
                    </label>
                    <input type="file" name="thumbnail" id="input-thumbnail" accept="image/*" multiple />
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Lưu thumbnail</button>
                </div>
            </form>
        </div>
        <div class="content-block">
            <h3>Gallery</h3>
            <hr>
            <div class="row">
                {{#each Gallery}}
                <div class="col-12 col-md-4 col-sm-6">
                    <a href="{{ this }}" data-fancybox="gallery">
                        <img class="card-img-top" src="{{ this }}" alt="no img"
                            class="img-thumbnail image-gallery-preview" id="image-1">
                    </a>
                    <form action="/phong-kham/{{../id}}/xoa-anh?_method=DELETE" method="POST">
                        <input type="hidden" name="file" value="{{this}}">
                        <button type="submit" class="btn btn-danger mt-2">Xóa</button>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
        <!-- add images -->
        <form id="dropzone" method="POST" action="/phong-kham/{{id}}/gallery" class="dropzone" enctype="multipart/form-data">
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload">
            </div>
            <div class="dz-message">
                <h3><b>Thả hình vào đây!</b></h3>
            </div>
        </form>
        <form action="/phong-kham/{{id}}/upload" method="POST">
            <button type="submit" class="btn btn-primary btn-block mt-3" id="uploadImages">Lưu thay đổi</button>
        </form>
    </div>
</section>

<div class="d-none">
    <p id="idBacSi"></p>
    <p id="avatarBacSi"></p>
    <p id="hotenBacSi"></p>
</div>

<script src="/js/dropzone.js"></script>
<script>
    Dropzone.options.dropzone = {
        acceptedFiles: "image/*",
        maxFiles: 5,
    }

    document.getElementById('file-upload').onchange = function () {
        document.getElementById('form-avatar-upload').submit();
    };

    $('#avatar-hover').hover(function () {
        $(this).html(`
        <label for="file-upload" class="phong-kham-avatar-hover" id="btn-upload">
            <i class="fas fa-upload fa-3x"></i>
        </label>
        `)
    }, function () {
        $(this).html(`<img src="${$('#Avatar').val()}" alt="no img" class="pk-avatar">`);
    });

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#input-thumbnail").change(function () {
        readURL(this);
    });
</script>
{{!-- <script src="/js/quanLyPhongKham.js"></script> --}}

{{/with}}