{{#with bacSi}}
<header class="medical-header">
    <!-- ad -->

    <div class="container">
        <!-- information -->
        <div class="row mb-3">
            <div class="col-md-3">
                <img src="{{ Avatar }}" alt="no img" class="pk-avatar">
            </div>
            <div class="col-md-9 my-auto">
                <div class="float-left">
                    <h3 class="text-white" style="text-shadow: 2px 2px 8px #1D3775;">{{ HoTen }}</h3>
                    {{!-- <h5 class="rating mt-3 float-left">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="text-white"> 4.5 (20)</span>
                    </h5> --}}
                </div>
            </div>
        </div>

    </div>
</header>

<section class="mt-5">
    <div class="content-block container">
        <h3>Chỉnh sửa thông tin bác sĩ</h3>
        <hr>
        <form action="/bac-si/{{id}}/quan-ly" method="POST">
            {{!-- Ho ten --}}
            <div class="form-group mb-3">
                <label for="HoTen">Họ và tên:</label>
                <input type="text" class="form-control" id="HoTen" name="HoTen" value="{{ HoTen }}" required>
            </div>

            {{!-- So dien thoai --}}
            <div class="form-group mb-3">
                <label for="SoDienThoai">Số điện thoại:</label>
                <input type="tel" class="form-control" id="SoDienThoai" name="SoDienThoai" value="{{ SoDienThoai }}"
                    required>
            </div>

            {{!-- Email --}}
            <div class="form-group mb-3">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="Email" name="Email" value="{{ Email }}" required>
            </div>

            {{!-- Chuyen khoa --}}
            <div class="form-group mb-3">
                <label for="ChuyenKhoaId">Chuyên khoa:</label>
                <select name="ChuyenKhoaId" id="ChuyenKhoaId" class="form-control">
                    {{#each ../chuyenKhoa}}
                    <option value="{{id}}" {{#if (eq id ../ChuyenKhoa.id)}}selected{{/if}}>{{Ten}}</option>
                    {{/each}}
                </select>
            </div>

            {{!-- Bang cap --}}
            <div class="form-group mb-3">
                <label for="BangCap">Chức danh:</label>
                <input type="text" class="form-control" id="BangCap" name="BangCap" value="{{BangCap}}" required>
            </div>

            {{!-- Thong tin chi tiet --}}
            <div class="form-group mb-3">
                <label for="ThongTinChiTiet">Thông tin chi tiết:</label>
                <small class="form-text">Có thê viết bằng ngôn ngữ mockup!</small>
                <textarea name="ThongTinChiTiet" id="ThongTinChiTiet" cols="30" rows="20"
                    class="form-control">{{ ThongTinChiTiet }}</textarea>
            </div>

            <hr>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
    </div>

</section>
{{/with}}