{{#with phongKham}}
<input type="hidden" id="PhongKhamId" value="{{id}}">
<input type="hidden" id="Avatar" value="{{Avatar}}">
<!-- header -->
<header class="medical-header">
    <!-- ad -->

    <div class="container">
        <!-- information -->
        <div class="row">
            <div class="col-md-3">
                <form action="/phong-kham/{{id}}/avatar?_method=PUT" id="form-avatar-upload" method="POST"
                    enctype="multipart/form-data">
                    {{#if Avatar}}
                    <div id="avatar-hover">
                        <img src="{{ Avatar }}" alt="no img" class="pk-avatar">
                    </div>
                    {{else}}
                    <label for="file-upload" class="phong-kham-avatar-hover">
                        <i class="fas fa-upload fa-3x"></i>
                    </label>
                    {{/if}}
                    <input id="file-upload" type="file" name="file" accept="image/*" multiple />
                </form>
            </div>
            <div class="col-md-9 my-auto">
                <div class="float-left">
                    <h3 class="text-white" style="text-shadow: 2px 2px 8px #1D3775;">{{ Ten }}</h3>
                    <h5 class="rating mt-3 float-left">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="text-white"> 4.5 (20)</span>
                    </h5>
                </div>
            </div>
        </div>

        <!-- tab -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly"><i class="fas fa-info-circle"></i> Thông
                            tin chi tiết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/phong-kham/{{id}}/quan-ly/nhan-vien">
                            <i class="fas fa-user-friends"></i>
                            Nhân viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly/images">
                            <i class="far fa-images"></i>
                            Hình ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly/lich-hen"><i
                                class="fas fa-notes-medical"></i> Quản lý lịch hẹn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

{{!-- nhan vien --}}
<section id="tab-2" class="mt-3">
    <div class="container">
        <h3>Thêm/Xóa nhân viên</h3>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <p>Nhân viên:</p>
            </div>
            <div class="col-md-7">
                <input class="w-100" type="text" id="staff" placeholder="Nhập tên nhân viên ..." />
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" id="Them"><i class="fas fa-user-plus"></i> Thêm</button>
                <button class="btn btn-success" id="Luu"><i class="fas fa-save"></i> Lưu</button>
            </div>
        </div>

        <div class="content-block mt-3" id="dsBacSi">
            {{#each BacSi}}
            <div class="chip mb-2">
                <input type="hidden" name="id" value="{{id}}">
                <img src="{{Avatar}}" alt="Person" width="96" height="96">
                {{HoTen}}
                <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<div class="d-none">
    <p id="idBacSi"></p>
    <p id="avatarBacSi"></p>
    <p id="hotenBacSi"></p>
</div>

<br><br><br><br><br><br><br>

<script src="/js/dropzone.js"></script>
<script>
    document.getElementById('Them').addEventListener('click', (e) => {
        e.preventDefault();
        const id = parseInt($('#idBacSi')[0].innerText);
        const Avatar = $('#avatarBacSi')[0].innerText;
        const HoTen = $('#hotenBacSi')[0].innerText;
        $('#dsBacSi').append(`
            <div class="chip mb-2">
                <input type="hidden" name="id" value="${id}">
                <img src="${Avatar}" alt="Person" width="96" height="96">
                ${HoTen}
                <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
            </div>
        `);
    });

    document.getElementById('Luu').addEventListener('click', (e) => {
        e.preventDefault();

        let _baseUrl = document.location.origin;
        let dsNhanVien = [];


        $.each($('.chip'), (i, data) => {
            if (data.style.display == "none") return true;
            dsNhanVien.push(parseInt($('.chip input')[i].value));
        });

        $.ajax({
            type: "POST",
            url: `${_baseUrl}/phong-kham/${$('#PhongKhamId').val()}/nhan-vien?_method=PUT`,
            data: JSON.stringify(dsNhanVien),
            dataType: "json",
            contentType: 'application/json',
            success: function (data) {
                console.log(data);
                location.reload();
            },
            complete: function (data) {
                location.reload();
            }
        });
    });

    $('#avatar-hover').hover(function () {
        $(this).html(`
        <label for="file-upload" class="phong-kham-avatar-hover" id="btn-upload">
            <i class="fas fa-upload fa-3x"></i>
        </label>
        `)
    }, function () {
        $(this).html(`<img src="${$('#Avatar').val()}" alt="no img" class="pk-avatar">`);
    });

    document.getElementById('file-upload').onchange = function () {
        document.getElementById('form-avatar-upload').submit();
    };
</script>
{{!-- <script src="/js/quanLyPhongKham.js"></script> --}}

{{/with}}