{{#with phongKham}}
<input type="hidden" id="PhongKhamId" value="{{id}}">
<input type="hidden" id="Avatar" value="{{Avatar}}">
<!-- header -->
<header class="medical-header">
    <!-- ad -->

    <div class="container">
        <!-- information -->
        <div class="row">
            <div class="col-md-3">
                <form action="/phong-kham/{{id}}/avatar?_method=PUT" id="form-avatar-upload" method="POST"
                    enctype="multipart/form-data">
                    {{#if Avatar}}
                    <div id="avatar-hover">
                        <img src="{{ Avatar }}" alt="no img" class="pk-avatar">
                    </div>
                    {{else}}
                    <label for="file-upload" class="phong-kham-avatar-hover">
                        <i class="fas fa-upload fa-3x"></i>
                    </label>
                    {{/if}}
                    <input id="file-upload" type="file" name="file" accept="image/*" multiple />
                </form>
            </div>
            <div class="col-md-9 my-auto">
                <div class="float-left">
                    <h3 class="text-white" style="text-shadow: 2px 2px 8px #1D3775;">{{ Ten }}</h3>
                    <h5 class="rating mt-3 float-left">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="text-white"> 4.5 (20)</span>
                    </h5>
                </div>
            </div>
        </div>

        <!-- tab -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly"><i class="fas fa-info-circle"></i> Thông
                            tin chi tiết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly/nhan-vien">
                            <i class="fas fa-user-friends"></i>
                            Nhân viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly/images">
                            <i class="far fa-images"></i>
                            Hình ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/phong-kham/{{id}}/quan-ly/lich-hen"><i
                                class="fas fa-notes-medical"></i> Quản lý lịch hẹn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

{{!-- lich hen --}}
<section id="tab-4" class="mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <div class="content-block" style="padding: 10px;">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3 class="text-green"><i class="fas fa-align-left"></i> Danh sách lịch hẹn
                            </h3>
                        </div>
                        <div class="col-sm-4">
                            {{!-- <button type="button" class="btn btn-warning btn-block"><i class="fas fa-lock"></i> Khóa đặt
                                hẹn</button> --}}
                        </div>
                    </div>
                    <hr>
                    <table class="table table-bordered table-booking">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Họ và tên</th>
                                <th>Khoa</th>
                                <th>Giờ khám</th>
                                <th>Bác sĩ</th>
                                <th>Trạng thái</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each LichHen}}
                            <tr>
                                <td>#{{id}}</td>
                                <td>{{HoTen}}</td>
                                <td>{{KhoaKhamBenh}}</td>
                                <td>{{getTime ThoiGianKham}}</td>
                                <td>{{BacSi}}</td>
                                <td>
                                    {{#if (eq TrangThai 1)}}
                                    Chưa xử lý
                                    {{/if}}
                                    {{#if (eq TrangThai 2)}}
                                    Chấp nhận
                                    {{/if}}
                                    {{#if (eq TrangThai 3)}}
                                    Đã hủy
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if (eq TrangThai 1)}}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form action="/phong-kham/{{../id}}/lich-hen/{{id}}" method="POST">
                                                <input type="hidden" name="action" value="2">
                                                <button type="submit" class="btn btn-success"><i class="fas fa-check"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Chấp nhận"></i></button>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form action="/phong-kham/{{../id}}/lich-hen/{{id}}" method="POST">
                                                <input type="hidden" name="action" value="3">
                                                <button type="submit" class="btn btn-danger"><i class="fas fa-minus"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Từ chối"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    <div class="row px-3 py-3">
                        {{{paginate ../pagination limit="3"}}}
                    </div>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="content-block" style="padding: 10px;">
                    <h3 class="text-green"><i class="fas fa-filter"></i> Filter</h3>
                    <hr>
                    <form action="/phong-kham/{{id}}/quan-ly/lich-hen" method="get">
                        <div class="form-group row">
                            <label for="filterDate" class="col-sm-3 col-form-label text-nowrap">Ngày:</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="filterDate" name="date"
                                    value="{{formatDate ../date}}" required>
                            </div>
                        </div>
                        <!--<div class="form-group row">
                            <label for="filterTime" class="col-sm-3 col-form-label text-nowrap">Giờ:</label>
                            <div class="col-sm-9">
                                <input type="time" class="form-control" id="filterTime" name="time" value="19:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="filterFaculty" class="col-sm-3 col-form-label text-nowrap">Khoa:</label>
                            <div class="col-sm-9">
                                <select id="filterFaculty" class="form-control" name="faculty">
                                    <option value="" selected>Khám Bệnh</option>
                                    <option value="">Nội Tiết</option>
                                    <option value="">Nam Khoa</option>
                                    <option value="">Da Liễu</option>
                                    <option value="">Hiếm muộn - Vô sinh</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="filterDoctor" class="col-sm-3 col-form-label text-nowrap">Bác
                                sĩ:</label>
                            <div class="col-sm-9">
                                <select id="filterDoctor" class="form-control" name="doctor">
                                    <option value="" selected>Nguyễn Đắc Nghĩa</option>
                                    <option value="">Nguyễn Thanh Liêm</option>
                                </select>
                            </div>
                        </div>-->
                        <hr>
                        <div class="d-flex justify-content-end mr-4">
                            <button type=" submit" class="btn btn-outline-primary"><i class="fas fa-search"></i>
                                Tìm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-none">
    <p id="idBacSi"></p>
    <p id="avatarBacSi"></p>
    <p id="hotenBacSi"></p>
</div>
{{/with}}

<script>
    $('#avatar-hover').hover(function () {
        $(this).html(`
        <label for="file-upload" class="phong-kham-avatar-hover" id="btn-upload">
            <i class="fas fa-upload fa-3x"></i>
        </label>
        `)
    }, function () {
        $(this).html(`<img src="${$('#Avatar').val()}" alt="no img" class="pk-avatar">`);
    });

    document.getElementById('file-upload').onchange = function () {
        document.getElementById('form-avatar-upload').submit();
    };
</script>