{{#with phongKham}}
<input type="hidden" id="PhongKhamId" value="{{id}}">
<input type="hidden" id="Avatar" value="{{Avatar}}">
<!-- header -->
<header class="medical-header">
    <!-- ad -->

    <div class="container">
        <!-- information -->
        <div class="row">
            <div class="col-md-3">
                <form action="/phong-kham/{{id}}/avatar?_method=PUT" id="form-avatar-upload" method="POST"
                    enctype="multipart/form-data">
                    {{#if Avatar}}
                    <div id="avatar-hover">
                        <img src="{{ Avatar }}" alt="no img" class="pk-avatar">
                    </div>
                    {{else}}
                    <label for="file-upload" class="phong-kham-avatar-hover">
                        <i class="fas fa-upload fa-3x"></i>
                    </label>
                    {{/if}}
                    <input id="file-upload" type="file" name="file" accept="image/*" multiple />
                </form>
            </div>
            <div class="col-md-9 my-auto">
                <div class="float-left">
                    <h3 class="text-white" style="text-shadow: 2px 2px 8px #1D3775;">{{ Ten }}</h3>
                    <h5 class="rating mt-3 float-left">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="text-white"> 4.5 (20)</span>
                    </h5>
                </div>
            </div>
        </div>

        <!-- tab -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="/phong-kham/{{id}}/quan-ly"><i class="fas fa-info-circle"></i> Thông tin chi tiết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly/nhan-vien">
                            <i class="fas fa-user-friends"></i>
                            Nhân viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly/images">
                            <i class="far fa-images"></i>
                            Hình ảnh</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/phong-kham/{{id}}/quan-ly/lich-hen"><i
                                class="fas fa-notes-medical"></i> Quản lý lịch hẹn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

{{!-- thong tin chung --}}
<section id="tab-1" class="mt-3">
    <div class="content-block container">
        <h3>Chỉnh sửa thông tin phòng khám</h3>
        <hr>
        <form action="/phong-kham/{{id}}/thong-tin-chung?_method=PUT" method="POST">
            <div class="form-group">
                <label for="Ten">Tên phòng khám</label>
                <input type="text" class="form-control" id="Ten" name="Ten" value="{{ Ten }}">
            </div>
            <div class="form-group">
                <label for="SoDienThoai">Số điện thoại</label>
                <input type="text" class="form-control" id="SoDienThoai" name="SoDienThoai" value="{{ SoDienThoai }}">
            </div>
            <div class="form-group">
                <label for="ThoiGian">Giờ mở cửa</label>
                <input type="text" class="form-control" id="ThoiGian" name="ThoiGian"
                    value="Thứ Hai - Chủ Nhật: 8:00 - 21:00">
            </div>
            <div class="form-group">
                <label for="FanpageFB">Link fanpage</label>
                <input type="text" class="form-control" id="FanpageFB" name="FanpageFB" value="{{ FanpageFB }}">
            </div>
            <div class="form-group">
                <label for="Duong">Địa chỉ chi tiết</label>
                <input type="text" class="form-control" id="Duong" name="Duong" value="{{ ChiTietDiaChi.Duong }}">
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    <label for="TinhThanhPhoId">Tỉnh/Thành phố</label>
                    <select id="TinhThanhPhoId" name="TinhThanhPhoId" class="form-control"
                        onchange="changeQuanHuyenData()">
                        {{#each ../tinhThanhPho}}
                        <option value="{{id}}" {{#if (eq id ../ChiTietDiaChi.TinhThanhPhoId)}}selected{{/if}}>{{ name }}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-md-5">
                    <label for="QuanHuyenId">Quận/Huyện</label>
                    <select id="QuanHuyenId" name="QuanHuyenId" class="form-control">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="GioiThieu">Giới thiệu</label>
                <textarea class="form-control" id="GioiThieu" name="GioiThieu" rows="10">{{ GioiThieu }}</textarea>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
    </div>
</section>



{{!-- hinh anh --}}
<section id="tab-3" class="mt-3" style="display:none;">
    <div class="container">
        <div class="content-block">
            <h3>Thumbnail</h3>
            <hr>
            <img src="{{Thumbnail}}" class="img-thumbnail" alt="no-img">
            <hr>
            <img src="#" alt="xem trước" class="img-thumbnail" id="image-preview">

            <form class="ml-3" action="/phong-kham/{{id}}/thumbnail?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="row mt-3">
                    <label for="input-thumbnail">
                        <a class="btn btn-success btn-block text-white"><i class="fa fa-plus"></i> Thêm ảnh</a>
                    </label>
                    <input type="file" name="thumbnail" id="input-thumbnail" accept="image/*" multiple />
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Lưu thumbnail</button>
                </div>
            </form>
        </div>
        <div class="content-block">
            <h3>Gallery</h3>
            <hr>
            <div class="row">
                {{#each Gallery}}
                <div class="col-12 col-md-4 col-sm-6">
                    <a href="{{ this }}" data-fancybox="gallery">
                        <img class="card-img-top" src="{{ this }}" alt="no img"
                            class="img-thumbnail image-gallery-preview" id="image-1">
                    </a>
                    <form action="/phong-kham/{{../id}}/xoa-anh?_method=DELETE" method="POST">
                        <input type="hidden" name="file" value="{{this}}">
                        <button type="submit" class="btn btn-danger mt-2">Xóa</button>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
        <!-- add images -->
        <form id="dropzone" method="POST" action="/phong-kham/{{id}}/gallery" class="dropzone" enctype="multipart/form-data">
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload">
            </div>
            <div class="dz-message">
                <h3><b>Thả hình vào đây!</b></h3>
            </div>
        </form>
        <form action="/phong-kham/{{id}}/upload" method="POST">
            <button type="submit" class="btn btn-primary btn-block mt-3" id="uploadImages">Lưu thay đổi</button>
        </form>
    </div>
</section>

{{!-- lich hen --}}
<section id="tab-4" class="mt-3" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="content-block" style="padding: 10px;">
                    <div class="row">
                        <div class="col-sm-8">
                            <h3 class="text-green"><i class="fas fa-align-left"></i> Danh sách lịch hẹn
                            </h3>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-warning btn-block"><i class="fas fa-lock"></i> Khóa đặt
                                hẹn</button>
                        </div>
                    </div>
                    <hr>
                    <table class="table table-bordered table-booking">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Họ và tên</th>
                                <th>Khoa</th>
                                <th>Giờ khám</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each LichHen}}
                            <tr>
                                <td>#{{id}}</td>
                                <td>{{HoTen}}</td>
                                <td>{{KhoaKhamBenh}}</td>
                                <td>{{getTime ThoiGianKham}}</td>
                                <td>
                                    <button type="button" class="btn btn-success"><i class="fas fa-check"
                                            data-toggle="tooltip" data-placement="bottom"
                                            title="Chấp nhận"></i></button>
                                    <button type="button" class="btn btn-danger"><i class="fas fa-minus"
                                            data-toggle="tooltip" data-placement="bottom" title="Từ chối"></i></button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="content-block" style="padding: 10px;">
                    <h3 class="text-green"><i class="fas fa-filter"></i> Filter</h3>
                    <hr>
                    <form action="#" method="post">
                        <div class="form-group row">
                            <label for="filterDate" class="col-sm-3 col-form-label text-nowrap">Ngày:</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="filterDate" name="date" value="2019-04-20"
                                    required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="filterTime" class="col-sm-3 col-form-label text-nowrap">Giờ:</label>
                            <div class="col-sm-9">
                                <input type="time" class="form-control" id="filterTime" name="time" value="19:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="filterFaculty" class="col-sm-3 col-form-label text-nowrap">Khoa:</label>
                            <div class="col-sm-9">
                                <select id="filterFaculty" class="form-control" name="faculty">
                                    <option value="" selected>Khám Bệnh</option>
                                    <option value="">Nội Tiết</option>
                                    <option value="">Nam Khoa</option>
                                    <option value="">Da Liễu</option>
                                    <option value="">Hiếm muộn - Vô sinh</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="filterDoctor" class="col-sm-3 col-form-label text-nowrap">Bác
                                sĩ:</label>
                            <div class="col-sm-9">
                                <select id="filterDoctor" class="form-control" name="doctor">
                                    <option value="" selected>Nguyễn Đắc Nghĩa</option>
                                    <option value="">Nguyễn Thanh Liêm</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-end">
                            <button type=" submit" class="btn btn-outline-primary"><i class="fas fa-search"></i>
                                Tìm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-none">
    <p id="idBacSi"></p>
    <p id="avatarBacSi"></p>
    <p id="hotenBacSi"></p>
</div>

<script src="/js/dropzone.js"></script>
<script>
    function changeQuanHuyenData() {
        $.post(`${window.location.origin}/api/quan-huyen/${$('#TinhThanhPhoId').val()}.json`, function (data) {
            let options = '';

            for (let i = 0; i < data.length; i++) {
                let s = '';
                if (data[i].id == parseInt({{ ChiTietDiaChi.QuanHuyenId }})) s = 'selected';
        let op = `<option value="${data[i].id}" ${s}>${data[i].name}</option>`;
        options += op;
    }

    $('#QuanHuyenId').html(options);
        });
    };

    changeQuanHuyenData();

    $('#avatar-hover').hover(function () {
        $(this).html(`
        <label for="file-upload" class="phong-kham-avatar-hover" id="btn-upload">
            <i class="fas fa-upload fa-3x"></i>
        </label>
        `)
    }, function () {
        $(this).html(`<img src="${$('#Avatar').val()}" alt="no img" class="pk-avatar">`);
    });

    document.getElementById('file-upload').onchange = function () {
        document.getElementById('form-avatar-upload').submit();
    };
</script>
{{!-- <script src="/js/quanLyPhongKham.js"></script> --}}

{{/with}}