<section class="mt-5">
    <div class="container">
        <div class="container mt-5 py-3" style="text-align: center;">
            <h4 class="text-deep-blue">Chào mừng bạn gia nhập MyMedical</h4>
            <small>Đã có tài khoản <strong><a href="/dang-nhap">Đăng nhập ngay</a></strong></small>
        </div>
        <div class="row" style="margin-top:7%">
            <div class="col-md-6 col-sm-12">
                <div class="gray-box mt-2 py-2 px-2">
                    <div class="row  d-flex justify-content-center">
                        <a href="/dang-nhap/facebook" class="medical-btn btn btn-success px-5"
                            style="background-color: #104FA2;">
                            <i class="fab fa-facebook-f"></i> Đăng nhập với Facebook
                        </a>
                    </div>
                    <p class="text-deep-blue mt-3" style="text-align: center;">Hoặc đăng ký bằng Email:</p>
                </div>
                <div class="row d-block">
                    <form action="/dang-ky" method="POST">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="" class="custom-label"><strong>Loại tài khoản:</strong></label>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <!-- Multiple Radios -->
                                    <label for="Member-selected" style="padding: 0px 15px 0px 15px">
                                        <input type="radio" name="LoaiUser" value="3" id="Member-selected" checked>
                                        Thành viên
                                    </label>
                                </div>
                                <div class="row" class="nav nav-pills" role="tablist">
                                    <label for="Doctor-selected" style="padding: 0px 15px 0px 15px">
                                        <input type="radio" name="LoaiUser" value="2" id="Doctor-selected">
                                        Bác sĩ / Chuyên gia / Điều dưỡng
                                    </label>
                                </div>
                                <div class="row">
                                    <label for="Enterprise-selected" style="padding: 0px 15px 0px 15px">
                                        <input type="radio" name="LoaiUser" value="4" id="Enterprise-selected">
                                        Cơ sở y tế
                                    </label>
                                </div>
                            </div>
                        </div>

                        <hr>


                        <!-- Text input-->
                        <div class="form-group row py-2">
                            <div class="col-md-4">
                                <label class="control-label mt-1 custom-label" for="HoTen"><strong>Họ
                                        và
                                        tên:</strong></label>
                            </div>
                            <div class="col-md-8">
                                <input id="HoTen" name="HoTen" type="text" placeholder="Họ và tên"
                                    class="form-control input-md" required>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row py-2">
                            <div class="col-md-4">
                                <label class="control-label mt-1 custom-label" for="SoDienThoai"><strong>Số điện
                                        thoại:</strong></label>
                            </div>
                            <div class="col-md-8">
                                <input id="SoDienThoai" name="SoDienThoai" type="tel" placeholder="Số điện thoại"
                                    class="form-control input-md" required>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row py-2">
                            <div class="col-md-4">
                                <label class="control-label mt-1 custom-label"
                                    for="Username"><strong>Username:</strong></label>
                            </div>
                            <div class="col-md-8">
                                <input id="Username" name="Username" type="tel" placeholder="Nhập username"
                                    class="form-control input-md" required>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row py-2">
                            <div class="col-md-4">
                                <label class="control-label mt-1 custom-label"
                                    for="Email"><strong>Email:</strong></label>
                            </div>
                            <div class="col-md-8">
                                <input id="Email" name="Email" type="email" placeholder="Email"
                                    class="form-control input-md" required>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group row py-2">
                            <div class="col-md-4">
                                <label class="control-label mt-1 custom-label" for="Password"><strong>Mật
                                        khẩu:</strong></label>
                            </div>
                            <div class="col-md-8">
                                <input id="Password" name="Password" type="password" placeholder="Mật khẩu"
                                    class="form-control input-md" required>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group row py-2">
                            <div class="col-md-4">
                                <label class="control-label mt-1 custom-label" for="RetypePass"><strong>Xác nhận mật
                                        khẩu:</strong></label>
                            </div>
                            <div class="col-md-8">
                                <input id="RetypePass" name="RetypePass" type="password" placeholder="Nhập lại mật khẩu"
                                    class="form-control input-md" required>
                            </div>
                        </div>

                        <!-- Dang ky bac si -->
                        <div style="display:none" id="Doctor">
                            <!-- combox input-->
                            <div class="form-group row py-2">
                                <div class="col-md-4">
                                    <label class="control-label mt-1 custom-label" for="ChuyenKhoa"><strong>Chuyên
                                            khoa:</strong></label>
                                </div>
                                <div class="col-md-8">
                                    <select name="ChuyenKhoa" id="ChuyenKhoa" class="form-control input-md">
                                        {{#each chuyenKhoa}}
                                        <option value="{{id}}">{{Ten}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <!-- combox input-->
                            <div class="form-group row py-2">
                                <div class="col-md-4">
                                    <label class="control-label mt-1 custom-label" for="PhongKhamId"><strong>Nơi làm
                                            việc:</strong></label>
                                </div>
                                <div class="col-md-8">
                                    <select name="PhongKhamId" id="PhongKhamId" class="form-control input-md">
                                        {{#each phongKham}}
                                        <option value="{{id}}">{{Ten}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            {{!-- <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="control-label mt-1 custom-label" for="PhongKhamId"><strong>Giấy tờ
                                            xác thực:</strong></label>
                                </div>
                                <div style="color: #959595" class="col-md-7">
                                    <p> Giấy chứng minh nhân dân </p>
                                    <p> Giấy phép hành nghê / Bằng tốt nghiệp </p>
                                </div>
                                <div style="color:#1D3775; font-size: 17px;" class="col-md-1">
                                    <div class="row">
                                        <label class="fileLabel"><input type="file"><i class="fas fa-file-upload"></i>
                                            </p></label>
                                    </div>
                                    <div class="row">
                                        <label class="fileLabel"><input type="file"><i class="fas fa-file-upload"></i>
                                            </p></label>
                                    </div>
                                </div>
                            </div> --}}
                        </div>

                        <!-- dang ky phong kham -->
                        <div style="display:none" id="Enterprise">
                            <!-- Text input-->
                            <div class="form-group row py-2">
                                <div class="col-md-4">
                                    <label class="control-label mt-1 custom-label" for="TenPhongKham"><strong>Tên cơ sở
                                            y tế:</strong></label>
                                </div>
                                <div class="col-md-8">
                                    <input id="TenPhongKham" name="TenPhongKham" type="text"
                                        placeholder="Nhập tên cơ sở y tế" class="form-control input-md">
                                </div>
                            </div>

                            <!-- combox input-->
                            <div class="form-group row py-2">
                                <div class="col-md-4">
                                    <label class="control-label mt-1 custom-label"
                                        for="TinhThanhPhoId"><strong>Tỉnh/Thành phố:</strong></label>
                                </div>
                                <div class="col-md-8">
                                    <select name="TinhThanhPhoId" id="TinhThanhPhoId" class="form-control input-md"
                                        onchange="changeQuanHuyenData()">
                                        {{#each tinhThanhPho}}
                                        <option value="{{id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <!-- combox input-->
                            <div class="form-group row py-2">
                                <div class="col-md-4">
                                    <label class="control-label mt-1 custom-label"
                                        for="QuanHuyenId"><strong>Quận/Huyện:</strong></label>
                                </div>
                                <div class="col-md-8">
                                    <select name="QuanHuyenId" id="QuanHuyenId" class="form-control input-md">
                                        <option value="1" selected>Tân Bình</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group row py-2">
                                <div class="col-md-4">
                                    <label class="control-label mt-1 custom-label" for="Duong"><strong>Địa chỉ chi
                                            tiết:</strong></label>
                                </div>
                                <div class="col-md-8">
                                    <input id="Duong" name="Duong" type="text"
                                        placeholder="1, Nguyễn Văn Trỗi, phường 1, ..." class="form-control input-md">
                                </div>
                            </div>

                            {{!-- <div class="form-group">
                                <label for=""></label>
                                <div style="font-size: 14px; margin: 0px 15px 0px 15px;" class="row">
                                    <div style="color: #1D3775" class="col-md-4">
                                        <p>Giấy tờ xác thực</p>
                                    </div>
                                    <div style="color: #959595" class="col-md-7">
                                        <div class="row">
                                            <p> Giấy chứng minh nhân dân / Thẻ căn cước </p>
                                        </div>
                                        <div class="row">
                                            <p> Giấy phép hoạt động , kinh doanh </p>
                                        </div>
                                    </div>
                                    <div style="color:#1D3775; font-size: 17px;" class="col-md-1">
                                        <div class="row">
                                            <label class="fileLabel"><input type="file"><i
                                                    class="fas fa-file-upload"></i></p></label>
                                        </div>
                                        <div class="row">
                                            <label class="fileLabel"><input type="file"><i
                                                    class="fas fa-file-upload"></i></p></label>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                        </div>

                        <!-- Button -->
                        <div style="text-align:center" class="form-group">
                            <label class="control-label" for="UserSignin"></label>
                            <div class=" col">
                                <button id="UserSignin" name="UserSignin" class="btn btn-success" type="submit"><i
                                        class="fas fa-user-plus"></i> Đăng ký</button>
                            </div>
                        </div>
                    </form>

                </div>

                <p style="text-align:center; font-size:12px">Bằng việc nhấn vào đăng kí, bạn đồng ý với các <a
                        href="#">điều khoản sử dụng</a> của MyMedical</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row d-flex flex-row-reverse">
                    <img id="login-img" src="/images/sign-up.png" alt="thumb">
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $('#Password, #RetypePass').on('keyup', function () {
        if ($('#Password').val() !== $('#RetypePass').val()) {
            $('#RetypePass')[0].setCustomValidity('Mật khẩu không khớp!');
        } else {
            $('#RetypePass')[0].setCustomValidity('');
        }
    });

    function changeQuanHuyenData() {
        $.post(`${window.location.origin}/api/quan-huyen/${$('#TinhThanhPhoId').val()}.json`, function (data) {
            let options = '';
            for (let i = 0; i < data.length; i++) {
                let op = `<option value="${data[i].id}">${data[i].name}</option>`;
                options += op;
            }

            $('#QuanHuyenId').html(options);
        });
    };

    changeQuanHuyenData();
</script>