<!-- header -->
<header class="medical-header">
    <!-- ad -->
    <div class="container-fluid">
        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                {{#each quangCao}}
                <div class="carousel-item col-md-3 {{#if (eq id 1)}}active{{/if}}">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image {{id}}" class="thumb">
                                <img class="img-fluid mx-auto d-block" style="width: 350px; height: 250px;"
                                    src="{{ HinhAnh }}" alt="slide {{id}}">
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br>
    </div>
</header>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                {{!-- sap xep --}}
                <div class="content-block">
                    <h5 class="text-deep-blue">Sắp xếp kết quả theo thứ tự</h5>
                    <hr>
                    <fieldset id="group1">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sap-xep" id="exampleRadios1"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Điểm đánh giá
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sap-xep" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Độ phổ biến
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sap-xep" id="exampleRadios2"
                                value="option3">
                            <label class="form-check-label" for="exampleRadios2">
                                Theo thời gian
                            </label>
                        </div>
                    </fieldset>
                </div>

                {{!-- xep hang --}}
                <div class="content-block">
                    <h5 class="text-deep-blue">Xếp Hạng</h5>
                    <hr>
                    <fieldset id="group2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="xep-hang" id="exampleRadios1" value="1">
                            <label class="form-check-label" for="exampleRadios1">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                </div>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="xep-hang" id="exampleRadios1" value="2">
                            <label class="form-check-label" for="exampleRadios1">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="xep-hang" id="exampleRadios1" value="3">
                            <label class="form-check-label" for="exampleRadios1">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="xep-hang" id="exampleRadios1" value="4"
                                checked>
                            <label class="form-check-label" for="exampleRadios1">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="col-md-8">
                <div class="content-block">
                    <h3 class="text-uppercase text-deep-blue" style="text-align:center;">DANH SÁCH PHÒNG KHÁM</h3>
                </div>
                {{#each phongKham}}
                <div class="content-block px-3 py-3">
                    <img src="{{ Thumbnail }}" alt="no-img" style="width: 100%; height: 200px; overflow: hidden;">
                    <div class="px-3 py-3">
                        <h4 class="text-deep-blue" style="text-align:center;">{{ Ten }}</h4>
                        <div class="container phong-kham-info">
                            <p><i class="fas fa-map-marker-alt"></i> {{ ChiTietDiaChi.Duong }},
                                {{ ChiTietDiaChi.QuanHuyen.path_with_type }} </p>
                            <p><i class="fas fa-clipboard-list"></i>
                                {{#each chuyenKhoa}}
                                {{ ChuyenKhoa.Ten }},
                                {{/each}}
                            </p>
                            <p><i class="fas fa-user-md"> {{ SLBacSi }} Nhân viên</i></p>
                        </div>
                    </div>
                    <a class="btn btn-success float-right text-white" href="/phong-kham/{{ id }}"><i
                            class="fab fa-wpforms"></i> Xem chi tiết</a>
                </div>
                {{/each}}
                <div class="row px-3 py-3">
                    {{{paginate pagination limit="3"}}}
                </div>
            </div>
        </div>
    </div>
</section>