{{!-- <link rel="stylesheet" href="/css/adminPageStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/all.min.js"></script>
<script src="/js/checkRetypePass.js" ></script> --}}
<script src="/js/checkRetypePass.js" ></script>
<script src="/js/setInforForm.js"></script>
{{#with nguoiDung}}
<script>
    function loadGender(){
    var dataGender = {{GioiTinh}};
    var gender = document.getElementById("Gender");
    gender.value = dataGender;
    }

    function changeCursor(){
        document.getElementById("btnReload").style.cursor = "pointer";
    }

    
</script>

<section>

    <div class="container">
        <div id="nameSidebar" class="sidenav">
            <h2>Tài khoản</h2>
        </div>
        <div class="sidenav">
            <a id="changePersonalInfor" href="/user/SetInfor/{{id}}"><i class="fas fa-user-alt"></i> Thông tin cá
                nhân</a>
            <a href="/user/AppointmentSchedule/{{id}}"><i class="fas fa-clipboard-list"></i> Lịch hẹn của tôi</a>
            <a href="/user/changePassword/{{id}}"><i class="fas fa-key"></i> Đổi mật khẩu</a>
        </div>
        <div class="vl"></div>
        <div class="main">

            <h2>CHỈNH SỬA HỒ SƠ</h2>
            <!-- ChangePasswordForm -->
            <form action="/user/SetInfor/{{id}}/doiTT" method="POST">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="">
                                <img src={{Avatar}}>
                            </div>
                            <div class="textChange">
                                <h6 id="content">Đổi hình đại diện</h6>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="form-group">

                    <label class="col-md-4 control-label" for="UserName"><i class="fas fa-user"></i> Username</label>
                    <div class="col-md-4">
                        <input id="UserName" type="text" name="Username" placeholder="UserName" class="form-control input-md"
                            required value="{{Username}}">
                    </div>
                </div>
                <div class="form-group">

                    <label class="col-md-4 control-label" for="abc"><i class="fas fa-align-left"></i> Tên</label>
                    <div class="col-md-4">
                        <input  type="text" name="HoTen" placeholder="Họ và tên" class="form-control input-md"
                            required value="{{HoTen}}">

                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label"><i class="fas fa-mobile-alt"></i> Số điện
                        thoại </label>
                    <div class="col-md-4">
                        <input  type="tel" name = "SoDienThoai" placeholder="____________" class="form-control input-md"
                            value="{{SoDienThoai}}" required>

                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label id="Email" class="col-md-4 control-label" for="email"><i class="fas fa-envelope"></i> Email:</label>
                    <div class="col-md-4">
                        <input name="Email" type="email" placeholder="example@acb.com" class="form-control input-md"
                            value="{{Email}}" required>

                    </div>
                </div>

                <!-- Sex -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="form-control"><i class="fas fa-user-circle"></i> Giới
                        tính: <i id="btnReload" class="fas fa-sync-alt" onmousemove="changeCursor()" onclick="loadGender()"></i></label>
                    <div class="col-md-4" >
                        <select name="GioiTinh" id="Gender" class="form-control" >
                            <option value="1">Nam</option>
                            <option value="2">Nữ</option>
                            <option value="3">Khác</option>
                        </select>
                    </div>
                </div>
                <!-- Birthday -->
                <div class="form-group">
                    <label id="NgaySinh" class="col-md-4 control-label" for="form-control"><i class="fas fa-birthday-cake"></i> Ngày
                        sinh:</label>
                    <div class="col-md-4">
                        <input type="date" class="form-control" name="NgaySinh"
                            value="{{formatDate NgaySinh}}" required>
                    </div>
                </div>
                {{!-- <!-- Account conect -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="form-control"><i class="fas fa-globe-asia"></i> Liên kết
                        tài khoản</label>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-facebook-square m-1" style="font-size: 48px"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-google-plus m-1" style="font-size:48px;color:red"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fab fa-twitter-square m-1" style="font-size: 48px"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> --}}
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnChange"></label>
                    <div class="col-md-4">
                        <button type="submit" id="btnChange" name="btnChange" class="btn btn-primary" >Lưu</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</section>


{{/with}}