<link rel="stylesheet" href="/css/adminPageStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/all.min.js"></script>
<script src="/js/checkRetypePass.js"></script>

{{#with nguoiDung}}
<section>

    <div class="container">
        <div id="nameSidebar" class="sidenav">
            <h2>Tài khoản</h2>
        </div>
        <div class="sidenav">
            <a href="/user/SetInfor/{{id}}"><i class="fas fa-user-alt"></i> Thông tin cá nhân</a>
            <a id="changePersonalInfor" href="/user/AppointmentSchedule/{{id}}"><i class="fas fa-clipboard-list"></i>
                Lịch hẹn của tôi</a>
            <a href="/user/changePassword/{{id}}"><i class="fas fa-key"></i> Đổi mật khẩu</a>
        </div>
        <div class="vl"></div>
        <div class="main">

            <h2>LỊCH HẸN CỦA TÔI</h2>

            <!-- table -->
            <table class="table table-bordered table-booking">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Phòng khám</th>
                        <th>Thời gian</th>
                        <th>Bác sĩ</th>
                        <th>Khoa</th>
                        <th>Trạng Thái</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each ../lichHen}}
                    <tr>
                        <td>#{{id}}</td>
                        <td>{{PhongKham.Ten}}</td>
                        <td>{{formatDate ThoiGianKham}}</td>
                        <td>{{BacSi}}</td>
                        <td>{{KhoaKhamBenh}}</td>
                        <td>
                            {{#if (eq TrangThai 1)}}
                            Chưa xử lý
                            {{/if}}
                            {{#if (eq TrangThai 2)}}
                            Chấp nhận
                            {{/if}}
                            {{#if (eq TrangThai 3)}}
                            Đã hủy
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br>
{{/with}}