<link rel="stylesheet" href="/css/adminPageStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/all.min.js"></script>
<script src="/js/checkRetypePass.js" ></script>
{{#with nguoiDung}}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">MyMedical</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-bell"></i></a>
                    </li>
                    <li class="nav-item avatar">
                        <a class="nav-link p-0 mt-1" href="#">
                            <img src={{Avatar}} class="rounded-circle z-depth-0"
                                alt="avatar image" height="31">
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link font-weight-bold" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{HoTen}}</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section>

    <div class="container">
        <div id="nameSidebar" class="sidenav">
            <h2>Tài khoản</h2>
        </div>
        <div class="sidenav">
            <a href="/user/SetInfor/{{id}}"><i class="fas fa-user-alt"></i> Thông tin cá nhân</a>
            <a href="/user/AppointmentSchedule"><i class="fas fa-clipboard-list"></i> Lịch hẹn của tôi</a>
            <a href="/user/changePassword/{{id}}"><i class="fas fa-key"></i> Đổi mật khẩu</a>
        </div>
        <div class="vl"></div>
        <div class="main">
            <h2 id="textAlertSucess">Thay đổi đã được ghi nhận thành công</h2>
        </div>

    </div>

</section>
{{/with}}