<link rel="stylesheet" href="/css/adminPageStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{#with nguoiDung}}



<!-- content -->

    <section>
            
        <div class="container">
            <div id = "nameSidebar" class="sidenav">
                    <h2>Tài khoản</h2>
            </div>
           <div class="sidenav">
                        <a href="/user/SetInfor/{{id}}"><i class="fas fa-user-alt"></i> Thông tin cá nhân</a>
                        <a href="/user/AppointmentSchedule/{{id}}"><i class="fas fa-clipboard-list"></i> Lịch hẹn của tôi</a>
                        <a id = "changePersonalInfor" href="/user/changePassword/{{id}}"><i class="fas fa-key"></i> Đổi mật khẩu</a>
            </div>
                <div class="vl"></div>
                <div class="main">
                        
                        <h2>ĐỔI MẬT KHẨU</h2>
                       <!-- ChangePasswordForm -->
                       <form action="/user/changePassword/{{id}}/changePass" method="POST">
                                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput"><i class="fas fa-lock-open"></i> Mật khẩu cũ:</label>  
                        <div class="col-md-4">
                        <input id="oldPass" name="oldPass" type="password" placeholder="Mật khẩu cũ" class="form-control input-md" required>
                        
                        </div>
                    </div>
                    
                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="passwordinput"><i class="fas fa-unlock"></i> Mật khẩu mới:</label>
                        <div class="col-md-4">
                        <input name="Password" id="password" type="password" placeholder="Mật khẩu mới" class="form-control input-md" required>
                        
                        </div>
                    </div>
                    
                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="passwordinput"><i class="fas fa-unlock-alt"></i> Nhập lại mật khẩu mới:</label>
                        <div class="col-md-4">
                        <input name="PasswordRetype" id="confirm_password" type="password" placeholder="Mật khẩu mới" class="form-control input-md" required=>
                        
                        </div>
                    </div>                   
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="btnChange"></label>
                        <div class="col-md-4">
                        <button onclick="validatePassword()" type="submit" id="btnChange" name="btnChange" class="btn btn-primary">Thay đổi</button>
                        </div>
                    </div>
                    <div>
                    <span id = "message"></span>    
                    </div>
                    
                    </form>

                </div> 
        </div>
    </section>


<script>
        
        function validatePassword() {
            var password = document.getElementById("password");
            var confirm_password = document.getElementById("confirm_password");

            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords don't match");
            }
            else {
                confirm_password.setCustomValidity('');

            }
            password.onchange = validataPassword;
            confirm_password.onkeyup = validataPassword;
        }
     

        function onClickChangeBtn() {
            document.getElementById("message").style.color = blue;
            document.getElementById("message").innerHTML = "Mật khẩu đã thay đổi thành công";
        }




</script>
{{/with}}