@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#bannerName{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.horizontalLine{
    border: 2px #707070 solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.namePackages{
    border: 1px solid #ACAA7E;
    text-align: center;
    border-radius: 15px;
    background-color: #ACAA7E;
    color: white;
    border-width: 15px;
    margin: 5px 150px 5px 150px;
}

#verticalLine{
    border: 2px #707070 solid;
    height: 1000px;
    width: 1px;
    border-radius: 10px;
}

.tbodyOfPackage{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#tablePackage{
    empty-cells: show;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn.btn-danger, .btn-secondary{
    height: 100px;
    width: 180px;
    font-size: 20px;
    border-radius: 5px;
}

.normalPackage,.premiumPackage{
    text-align: center;
}

.normalPackage{
    color: #707070;     
}
.premiumPackage{
    color: #e50914;
}

#btnNormial{
    background: #707070;
    color: white;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
#btnPremium{
    background: #e50914;
    color: white;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar {
    width: 180px;
    height: 100%;
    position: fixed;
    background: #252B37;
    color: #fff;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 0 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #171B21;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    font-size: 1.1em;
    color: #347CA1;
    background: #171B21;
}

.wrapper .main {
    padding-left: 20px;
    margin-left: 180px;
}

li.divider{
    height: 1px;
    background: #47748b;
    overflow: hidden;
}

.dropdown #navbarDropdown:focus {background: #f4f4f4; color:#000;}
.dropdown #navbarDropdown:active {background: #f4f4f4; color:#000;}