.sidenav {
    width: 330px;
    position: absolute;
    z-index: 1;
    background: #ffffff;
    overflow-x: hidden;
    padding: 8px ;
    padding: 0px 10px;
    /* margin: 100px 0px 0px 100px; */
    border: 2px solid #707070;
    border-radius: 5px;
    margin-top: 60px;
  }
  .sidenav#nameSidebar{
    color: #4893D8;
    width: 330px;
    z-index: 1;
    background: none;
    overflow-x: hidden;
    padding: 0px 10px;
    border: none;
    /* margin: 100px 0px 0px 100px; */
    margin-top: 0px;
    text-align: center;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 19px;
    color: #064579;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-top: 100px;
    margin-left: 430px;
    margin-bottom: 100px; 
    font-size: 16px;
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .main h2{
      color:#4893D8; 
      font-style: italic;
      padding-bottom: 12px;
  }
  .main .form-group > label{
      color: #1D3775;
      margin-left: 0px;
      padding-left: 0px;
  }
  .main .form-group .col-md-4{
      padding-left: 0px;
      max-width: none;
  }
  .vl{
      border-left: 2px solid #1D3775;
      height: 60%;
      margin-left: 380px;
      position:absolute;
  }

  .main .form-group #btnChange{
      width: 150px;
      background-color: #4893D8;
      float: right;
      margin-bottom: 10px;
      border-radius: 25px;
  }

  #changePass, #changePersonalInfor{
    color: #4893D8;
  }
  #textAlertSucess{
    margin-left: 10%;
    margin-bottom: 50%;
    padding-top: 20%;

  }
  .imgUser.cropImg{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
  }
  .textChange #content{
    color:#4893D8;
  }

  