@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar {
    width: 180px;
    height: 100%;
    position: fixed;
    background: #252B37;
    color: #fff;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 0 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #171B21;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    font-size: 1.1em;
    color: #347CA1;
    background: #171B21;
}

.wrapper .main {
    padding-left: 20px;
    margin-left: 180px;
}

li.divider{
    height: 1px;
    background: #47748b;
    overflow: hidden;
}

.admin-content-block {
    box-sizing: border-box;
    border: 1px solid #47748b;
    border-radius: 4px;
    background: white;
    padding: 0px 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    /* -webkit-box-shadow: 1px 1px 2px 1px rgba(29,55,117,0.25);
    -moz-box-shadow: 1px 1px 2px 1px rgba(29,55,117,0.25);
    box-shadow: 1px 1px 2px 1px rgba(29,55,117,0.25); */
}

.fa-edit{
    color: #1CBAEB;
}

.fa-trash-alt{
    color: #E82C0C;
}

.dropdown #navbarDropdown:focus {background: #f4f4f4; color:#000;}
.dropdown #navbarDropdown:active {background: #f4f4f4; color:#000;}