table.table-booking {
    border: 1px solid #92D4F4;
    border-radius: 3px;
    background: white;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(29,55,117,0.25);
    -moz-box-shadow: 1px 1px 2px 1px rgba(29,55,117,0.25);
    box-shadow: 1px 1px 2px 1px rgba(29,55,117,0.25);
}

#deleteButton{
    text-align: center;
    /* float: right; */
}
