.rating {
    color: #FFDF00;
    text-shadow: 2px 2px 2px #1D3775;
    /* float: left; */
}

/* .nav-tabs {
    border-bottom-color: #f4f4f4;
} */

.nav-tabs .nav-link {
    background-color: #4893D8;
    margin: 0 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #f4f4f4;
    text-shadow: none;
    color: #1D3775;
}

.nav-tabs a {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 8px #1D3775;
}

.content-block {
    box-sizing: border-box;
    border: 1px solid #92D4F4;
    border-radius: 3px;
    background: white;
    padding: 10px 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(29, 55, 117, 0.25);
    -moz-box-shadow: 1px 1px 2px 1px rgba(29, 55, 117, 0.25);
    box-shadow: 1px 1px 2px 1px rgba(29, 55, 117, 0.25);
}

.user-block {
    display: flex;
    margin: 10px 0px;
}

.user-block img {
    width: 60px;
    height: 60px;
}

.user-block-content {
    float: right;
    margin-left: 30px;
}

.user-block .user-block-content p {
    font-weight: bold;
    margin-bottom: 0;
}

.pk-avatar {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 3px;
}