.container.row {
    margin-top: 30px;
}

section+div {
    margin-top: 20px;
}

.Page-tile {
    color: #1D3775;
}

.form-group {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#Member, #Doctor, #Enterprise {
    width: 100%;
}

#UserSignin {
    border-radius: 27px;
    background: #10DBDB;
    border-color: #10DBDB;
}

.paper {
    margin: 0px 15px 0px 15px;
}

input[type="file"] {
    display: none;
}

.fileLabel {
    cursor: pointer;
}

.custom-label {
    display: block;
    text-align: right;
}